@charset "UTF-8";
/*
 * foundation
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

:root {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
  word-break: break-all;
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 1160px) {
  html {
    font-size: 0.8620689655vw;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-weight: 500;
  font-style: normal;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
}

#container {
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 940px;
  margin-inline: auto;
  padding-inline: 30px;
}

.span-br {
  display: inline-block;
}

.section-bg {
  background-color: #CB0000;
}

/*
 * layout
 */
#header {
  position: fixed;
  top: -100px;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header.scroll-nav {
  top: 0;
  background-color: var(--main-color);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.l-header {
  height: 8rem;
  padding-inline: 3rem;
  margin: 0 auto;
}

/*
 * object
 */
.c-btn__link {
  width: 150px;
  height: 45px;
  display: grid;
  place-content: center;
  background-color: #CB0000;
  border: 0.1rem solid #CB0000;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.2;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.c-section-title {
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .c-section-title {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.title-white {
  color: #ffffff;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  height: 8rem;
}

.p-header__logo {
  width: 19.2rem;
  height: inherit;
}

.p-header__logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header__logo__img {
  width: 3.2rem;
}

.p-header__logo__text {
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
}

.p-header__logo__text__span {
  font-size: 1.5rem;
}

.p-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.p-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header__nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header__nav__list__link {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 2.5rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.9411764706;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fv__inner {
  position: relative;
}

.fv__inner__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 80, 80, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__inner__text__title {
  font-size: 4rem;
  line-height: 1.5;
  color: #ffffff;
}

.p-vision {
  margin-block: 6.6rem;
}

.p-vision__content {
  margin-bottom: 3.5rem;
}

.p-vision__title {
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  color: #CB0000;
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  text-align: center;
  margin-top: 1.7rem;
}

.p-vision-diagram {
  position: relative;
  margin: 0 auto;
  min-height: 247px;
}
.p-vision-diagram__arrow {
  position: absolute;
  left: 50%;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  height: 220px;
  background: #CB0000;
  z-index: 0;
}
.p-vision-diagram__arrow::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid #CB0000;
}

.p-vision-diagram__milestone {
  position: absolute;
  left: 50%;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.7rem;
  z-index: 1;
}
.p-vision-diagram__milestone__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.p-vision-diagram__milestone__en {
  color: #CB0000;
  font-weight: 900;
  min-width: 110px;
  text-align: right;
  font-size: 2.5rem;
}
.p-vision-diagram__milestone__dot {
  width: 24px;
  height: 24px;
  background: #CB0000;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  border: 3px solid #fff;
}
.p-vision-diagram__milestone__jp {
  color: #000;
  min-width: 110px;
  text-align: left;
  font-size: 2.3rem;
}

.p-ad-banner {
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}

.p-ad-banner__title {
  font-size: 2.4rem;
  line-height: 2.0833333333;
  font-weight: 900;
  margin-bottom: 3rem;
}

.p-ad-banner__text {
  font-size: 1.8rem;
  line-height: 1.6666666667;
}

.p-reason {
  padding-top: 5.6rem;
  padding-bottom: 9rem;
}

.p-reason__container {
  margin-top: 3.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
@media (max-width: 767px) {
  .p-reason__container {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-reason__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}
@media (max-width: 767px) {
  .p-reason__container__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.reason-item__image {
  width: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .reason-item__image {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reason-item__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.reason-item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reason-item__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  padding-left: 5rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #CB0000;
}
@media (max-width: 767px) {
  .reason-item__title {
    padding-left: 0;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
  }
}

.reason-item__text {
  font-size: 1.8rem;
  line-height: 1.8333333333;
  text-align: left;
  display: block;
  padding-top: 3.7rem;
  padding-left: 5rem;
}
@media (max-width: 767px) {
  .reason-item__text {
    padding-left: 0;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.p-voice {
  padding-top: 4.4rem;
  padding-bottom: 8rem;
}

.p-voice__container {
  margin-top: 3.6rem;
  position: relative;
}
.p-voice__container .slick-slide {
  margin: 0 1.75rem;
}
.p-voice__container .slick-arrow {
  font-size: 0 !important;
  color: transparent !important;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 4.2rem;
  height: 4.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
}
.p-voice__container .slick-prev {
  left: -1.5rem;
}
.p-voice__container .slick-next {
  right: -1.5rem;
}
.p-voice__container .slick-arrow:before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-left: 0.7rem solid #ffb3b3;
  border-bottom: 0.7rem solid #ffb3b3;
  border-radius: 0.2rem;
  background: none;
  position: relative;
}
.p-voice__container .slick-prev:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0.2rem;
  position: relative;
}
.p-voice__container .slick-next:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: -0.2rem;
  position: relative;
}

.p-voice__container__item {
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.p-voice__container__item:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.voice-card__image {
  width: 100%;
  margin: 0 auto 1.5rem;
}

.voice-card__body {
  color: #ffffff;
}

.voice-card__title {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.voice-card__desc {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  text-align: left;
}

@media (max-width: 767px) {
  .p-voice__container .slick-prev,
  .p-voice__container .slick-next {
    display: none !important;
  }
  .p-voice__container__item {
    padding: 1.5rem;
  }
  .voice-card__title {
    font-size: 1.8rem;
  }
  .voice-card__desc {
    font-size: 1.6rem;
  }
}
.p-flow {
  padding-top: 4.4rem;
  padding-bottom: 1rem;
}

.p-flow__container {
  margin-top: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  margin-inline: auto;
}

.p-flow__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.p-flow__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5.8rem;
  position: relative;
}

.p-flow__icon {
  width: 18px;
  height: 18px;
  background: #CB0000;
  border-radius: 50%;
  margin-right: 2.5rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.p-flow__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 9.7rem;
  background: #CB0000;
  z-index: 0;
}

.p-flow__icon--arrow {
  margin-right: 2.5rem;
  position: relative;
}
.p-flow__icon--arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 3.7rem;
  background: #CB0000;
  z-index: 0;
}
.p-flow__icon--arrow::after {
  content: "";
  width: 1em;
  height: 1em;
  border: 0.2em solid #CB0000;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  position: absolute;
  top: 40px;
  left: 50%;
  bottom: -0.05em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

.p-flow__label {
  color: #CB0000;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  min-width: 155px;
  margin-right: 2rem;
}

.p-flow__desc {
  font-size: 1.8rem;
  line-height: 1.6666666667;
}

.p-faq {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-faq__container__accordion {
  margin-inline: auto;
  margin-top: 30px;
  max-width: 880px;
  position: relative;
  width: 100%;
}

.accordion__title {
  color: #000000;
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 1.7647058824;
  padding: 2rem 2rem 1.5rem 2rem;
}

.accordion__details {
  border-bottom: 1px solid #000000;
}

.accordion__details:nth-of-type(1) {
  border-top: 1px solid #000000;
}

.accordion__content {
  background-color: rgba(203, 0, 0, 0.1);
  display: none;
  padding: 2rem 2rem 1.5rem 2rem;
}

.accordion__content p {
  color: #CB0000;
  font-size: 1.7rem;
  line-height: 1.7647058824;
  font-weight: 700;
}

/* 矢印 */
.accordion__title {
  position: relative;
}

.accordion__title::after {
  border-right: solid 2px #000000;
  border-top: solid 2px #000000;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 8px;
}

.accordion__title.open::after {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.faq-q {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.8rem;
  font-family: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.faq-a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: #CB0000;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.8rem;
  font-family: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.p-blog__container {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 5.6818181818%;
}
@media (max-width: 767px) {
  .p-blog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 39px;
    margin-top: 44px;
  }
}

.p-blog__card {
  position: relative;
  width: 29.5454545455%;
}
@media (max-width: 767px) {
  .p-blog__card {
    width: 100%;
  }
}

.blog__card-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CB0000;
  width: 8rem;
  height: 3rem;
  z-index: 1;
}

.blog__card-label-text {
  height: 2.5rem;
  color: #ffffff;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  line-height: 1.6666666667;
  margin: 0;
}

.blog__card-img {
  width: 100%;
}
@media (max-width: 767px) {
  .blog__card-img {
    width: 100%;
  }
}

.blog__card-img img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .blog__card-img img {
    width: 100%;
  }
}

.blog__card-body {
  margin-top: 19px;
}
@media (max-width: 767px) {
  .blog__card-body {
    margin-top: 30px;
    width: 100%;
  }
}

.blog__title {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}
@media (max-width: 767px) {
  .blog__title {
    line-height: 1.5;
    text-align: center;
  }
}

.blog__date {
  font-size: 1.7rem;
  line-height: 1.7647058824;
  margin-top: 7px;
  text-align: right;
}
@media (max-width: 767px) {
  .blog__date {
    font-size: 1.6rem;
    line-height: 1.875;
    text-align: center;
    margin-top: 7px;
  }
}/*# sourceMappingURL=style.css.map */