@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-sidebar-widget {
    background:$white;
    margin-bottom: 3rem;
 
     
   
  }
  

.p-sidebar-widget__title{

    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.8rem ;
    font-weight: 700;
    line-height: calc(33/18);
    padding-block: 0.9rem;
}
.p-sidebar-widget__magazine{
    border: 0.5px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.p-sidebar-widget__image {
    background: #e8e8e8;
    width: 100%;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(33/18);
    margin: 1.5rem;
    
  }

.p-sidebar-widget__search-box{
    border: 0.5px solid $black;
}
  .p-sidebar-widget__form {
    display: flex;
    margin: 1.5rem;
    background: #e8e8e8;
}


.p-sidebar-widget__form input {
    flex: 1;
    padding: 0.5rem;  
   
  }
 
  .p-sidebar-widget__form  button {
  background: $black;
  border: none; 
  padding: 0 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
 
    width: 40px;
    height: 40px;
  }

.p-sidebar-widget__popular {
    margin-top: 1rem;

   
    display: flex;
    flex-direction: column;
    width: 100%;    
    row-gap: 1.5rem;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem; 
      gap: calc(15 /250 *100%);    
      
    }
  }
  .p-sidebar-widget__popular-thumb {
    width: 9.5rem;
    height: 7.5rem;
    background: #e8e8e8;
    
  }

  .p-sidebar-widget__popular-text {
    flex: 1;
    font-size: 1.3rem;
    color: #222;
    line-height: 1.4;
  }

  .p-sidebar-widget__category {
    margin-top: 1rem;
    li {
      padding: 1.2rem 0;
      border-bottom: 1px solid $black;
      font-size: 1.3rem;
      color: #222;
    }
  }

