@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb {
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33/16);
    height: 5rem;
    align-items: center;
    background-color: #E8E8E8;

    @include sp {
        padding-inline: 2rem;
        height: 3.6rem;
    }

    ol {
        display: flex;
        max-width: 940px;
        margin-inline: auto;
        padding-inline: 3rem;
        list-style: none;
        height: inherit;

        @include sp {
            padding-inline: 0;
        }
    }

    li {
        display: flex;
        align-items: center;
        color: $black;
        height: inherit;

    }

    a {
        display: flex; 
        align-items: center; 
        height: 100%; 
        
        color: $black;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
             background-color: rgba(0,0,0,0.05);
            text-decoration: underline;
        }
    }
}