@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-btn {
  text-align: center;
  background-color: $red;
  color: $white;
   border: 1px solid $red;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: $white;
    color: $red;
   
  }

}

.c-btn--head {
  width: 150px;
  height: 45px;
  display: grid;
  place-content: center;
  background-color: $red;
  border: 0.1rem solid $red;
  color: $white;
  font-size: 1.5rem;
  line-height: calc(33 / 15);
  font-weight: 700;
  transition: all .4s ease-in-out;

  &:hover {
    background-color: $white;
    color: $red;
  
  }
}