@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumbs {
  width: 100%;
  background-color: #E8E8E8;
}

.c-breadcrumbs__inner {
   max-width: 94rem;
  margin-inline: auto;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;


  @include sp {
    padding-inline: 2rem;
    line-height: 1.4;
    overflow-x: scroll;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;

    /*Google Chrome、Safariへの対応*/
    &::-webkit-scrollbar {
      display: none;
    }
  }

}


.c-breadcrumb__items::-webkit-scrollbar {
  display: none;
}

.c-breadcrumbs__text {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  height: 5rem;
  display: flex;
  align-items: center;

  @include sp {
    height: 3.6rem;
    white-space: nowrap;
  }


}

.c-breadcrumbs__sign {
  display: block;
  font-size: 1.6rem;
}