@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb {

    margin-inline: auto;
    padding-inline: 30px;
    font-size: 1.6rem;
    line-height: calc(33/16);
    height: 5rem;
    align-items: center;
    background-color: #E8E8E8;

    ol {
        display: flex;
        max-width: 940px;
        margin-inline: auto;
        padding-inline: 30px;
        list-style: none;
        height: inherit;

        @include sp {
            padding-inline: 20px;
        }
    }

    li {
        display: flex;
        align-items: center;
        color: $black;
        height: inherit;

        &:not(:last-child)::after {
            content: '>';
            margin: 0 1em;
            color: $black;
        }
    }

    a {
        color: $black;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}