@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb {
      max-width: 940px;
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33/16);
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
    
    @include sp {
        padding-inline: 2rem;
        height: 3.6rem;
    }

    ol {
       display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

        @include sp {
            padding-inline: 0;
        }
    }

    // li {
    //     display: flex;
    //     align-items: center;
    //     color: $black;
    //     height: inherit;

    // }

    // a {
    //     display: flex; 
    //     align-items: center; 
    //     height: 100%; 
        
    //     color: $black;
    //     text-decoration: none;
    //     transition: all 0.3s ease;

    //     &:hover {
    //          background-color: rgba(0,0,0,0.05);
    //         text-decoration: underline;
    //     }
    // }
}
.c-breadcrumb__item{
    position: relative;
    display: flex;
    align-items: center;
    a{
      display: block;                  // ← 行高いっぱいのクリック領域
      padding-block: 1.2rem;           // 高さに応じて調整
      text-decoration: none;transition: all 0.3s ease;

        &:hover {
             background-color: rgba(0,0,0,0.05);
            text-decoration: underline;
        }
  }}

//   .c-breadcrumb__item + .c-breadcrumb__item{
//     padding-left: 3.2rem;
//   }
//   .c-breadcrumb__item + .c-breadcrumb__item::before{
//     content: "›";
//     position: absolute;
//     width: 1.2rem;
//     left: .2rem;
//     top: 50%;
//     transform: translateY(-50%);
//     opacity: .6;
//     aria-hidden: true; // 注: CSSでは書けないのでコメントとして
//   }

