@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb__inner {
    width: 100%;
    background-color: #E8E8E8;
}

.c-breadcrumb {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    display: block;
    // height: 5rem;

    @include sp {
        padding-inline: 2rem;

    }

}

.c-breadcrumb__items {
    display: flex;
    align-items: center;
    overflow-x: auto; // ★
    overflow-y: hidden; // ★
    white-space: nowrap; // ★ 折り返さない
    -webkit-overflow-scrolling: touch; // iOS慣性
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    gap: 2.3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    @include sp {        
        column-gap: 1.7rem;     
        padding-inline: 0;
        
    }
}


.c-breadcrumb__items::-webkit-scrollbar {
    display: none;
}

.c-breadcrumb__item {
    // position: relative;
    // display: flex;
    // align-items: center;
    // white-space: nowrap; // 文字を折り返さない

    // a {
    //     display: block; // ← 行高いっぱいのクリック領域
    //     padding-block: 0.85rem; // 高さに応じて調整
    //     text-decoration: none;
    //     transition: all 0.3s ease;
    //     font-size: 1.6rem;
    //     line-height: calc(33 / 16);


    //     &:hover {

    //         opacity: 0.5;
    //     }

    //     @include sp {
    //         padding-block: 1rem;
    //         line-height: 1;
    //     }
    // }

    display: flex;
    align-items: center;
    white-space: nowrap;



    a {
        display: flex; // 行高いっぱいのクリック領域
        max-width: 100%;
        padding-block: 0;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        transition: all 0.3s ease;
        white-space: nowrap;
        height: 100%;
        align-items: center;
          padding-block: 0.85rem; // 高さに応じて調整
        
        &:hover {
            opacity: 0.5;
        }

        @include sp {
            line-height: calc(20 / 16);
            height: 100%;
        }
    }

    span {
        flex: 0 0 auto;


        @include sp {
            line-height: calc(20 / 16);

        }
    }
}

