@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.c-btn__link{
  width: 150px;
  height: 45px;
  display: grid;
  place-content: center;

  background-color:$red;
  border: 0.1rem solid $red;
  color: $white;
  font-size: 1.5rem;
  line-height: calc(33/15);
  font-weight: 700;
  transition: all .4s;
}



.c-contact-button {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  display: block;
  background-color: $red;
  color: $white;
  font-weight: 700;
  padding: 1rem 8.4rem 1rem 8rem;
  width: 30rem;
  height: 6rem;
  text-decoration: none;
  font-size: 2rem;
  
  @include sp{

  }
 
}
.c-contact-button.is-change {
  opacity: 1;
  pointer-events: auto;
}



