@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb__inner {
    width: 100%;
    background-color: #E8E8E8;
}

.c-breadcrumb {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    display: block;


    @include sp {
        padding-inline: 2rem;

    }

}

.c-breadcrumb__items {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include sp {
        // flex-wrap: wrap;
        column-gap: 1.7rem;
        // row-gap: .4rem;
        padding-inline: 0;
    }
}

.c-breadcrumb__item {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap; // 文字を折り返さない

    a {
        display: block; // ← 行高いっぱいのクリック領域
        padding-block: 0.85rem; // 高さに応じて調整
        text-decoration: none;
        transition: all 0.3s ease;
        font-size: 1.6rem;
        line-height: calc(33 / 16);


        &:hover {

            opacity: 0.5;
        }

        @include sp {
            padding-block: 1rem;
            line-height: 1;
        }
    }
}

