@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-breadcrumb__inner{
    width: 100%;
     background-color: #E8E8E8;
}
.c-breadcrumb {
      max-width: 940px;
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33/16);
    height: 5rem;
    display: flex;
    align-items: center;
  
    
    @include sp {
        padding-inline: 2rem;
        height: 3.6rem;
    }

    ol {
       display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

        @include sp {
            padding-inline: 0;
        }
    }

}
.c-breadcrumb__item{
    position: relative;
    display: flex;
    align-items: center;
    a{
      display: block;                  // ← 行高いっぱいのクリック領域
      padding-block: 1.2rem;           // 高さに応じて調整
      text-decoration: none;transition: all 0.3s ease;

        &:hover {
             background-color: rgba(0,0,0,0.05);
            text-decoration: underline;
        }
  }}




