@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


// ハンバーガーメニュー
.c-hamburger {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    width: 7.2rem;
    height: 5rem;
    background-color: $red;
    cursor: pointer;

    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.c-hamburger span {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 3.2rem;
    height: 0.4rem;
    background-color: $white;
    -webkit-transition: 0.4s;

}


.c-hamburger span:nth-of-type(1) {
    top: 25%;
}

.c-hamburger span:nth-of-type(3) {
    top: 75%;
}



.c-hamburger.active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.c-hamburger.active span:nth-of-type(2) {
    display: none;
}

.c-hamburger.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* メニューオープン時のスクロール抑制 */
body.is-menu-open {
    overflow: hidden;
}

/* メニューオープン中は「ページトップ」ボタンを触れないようにしたい場合 */
body.is-menu-open .c-page-top {
    opacity: .0;
    pointer-events: none;
}

// .p-header { position: sticky; top: 0; z-index: 1000; }
.c-hamburger {
    z-index: 1001;
}