@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-pager{
  .wp-pagenavi{
     width: 100%;
     text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    list-style-type: none;
   
    @include sp{
      gap: 0 0.5rem;
     
    }

a,
.current{  
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-weight: 700;
    border: 0.1rem solid #000000;   
    color: #000000;
    transition:
    background-color 0.4s ease,
    color 0.4s ease;

  @include sp{
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
  }
}

    .current {
      color: #fff;
      background: #000;
    }

  a:hover {
      color: $white;
      background-color: $black;
    }
  .extend {
      display: inline-block;
      padding-inline: 1rem;
      padding-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      border: none;
      @include sp {
        font-size: 1.6rem;
        padding-inline: 0.7rem;
        padding-bottom: 1rem;
      }
    }
  }
}

// .p-blog-list__pagination{
//   .wp-pagenavi { 
//     a:not(:hover) {
//     text-decoration: none;
// }
// li:nth-of-type(4) a{
//     border: none;
//     width: 3rem;
//     height: 3rem;
// }


// }}
