@charset "UTF-8";
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// 共通見出し
.c-top-title {
  font-size: 3rem; 
  font-weight: 700;
  text-align: center;
  line-height: calc(50 / 30);
  @include sp{
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
 
}
// 下層ページ共通見出し
.c-section-title {
  font-size: 2.5rem;
  line-height:1;
  font-weight: 700;
  text-align: center;
  @include sp{
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
 
}


