@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



.c-thumbnail {
    width: 100%;   
}

.c-thumbnail__img {
    width: 100%;
    position: relative;
    overflow: hidden;


}

.c-thumbnail__img img {
    width: 100%;
    object-fit: cover;
    display: block;

}