@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-thumbnail {
    position: relative;
}

.c-thumbnail__label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    min-width: 8rem;
    height: 3rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp{
         min-width: 9rem;
    }
}

.c-thumbnail__label-text {
    height: 2.5rem;
    color: $white;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: calc(25/15);
    margin: 0;
}

// .c-thumbnail-img {
//     width: 100%;

   
// }

// .c-thumbnail-img img {
//     width: 100%;    
//     object-fit: cover;
//     display: block;

// }