@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-thumbnail{
    position: relative;
}
.c-thumbnail__label{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    width: 8rem;
    height: 3rem;
    z-index: 1;
}

.c-thumbnail__text{
    height: 2.5rem;
    color: $white;     
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: calc(25/15);
    margin: 0;
}

.c-thumbnail-img {
    width: 100%;
    
    @include sp {       
        width: 100%;
    }
}

.c-thumbnail-img img{
    display: block;
    width: 100%;
    height: auto;
    
    @include sp{
        width: 100%;
    }
}