@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    color: $black;
    

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}