@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

  
   

   .c-page-top {
    position: fixed;   
    right: 11.1rem;
    bottom: 90px;
    z-index: 1000;
    opacity: 0;
  }

  .c-page-top.is-change {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    &:hover {
      opacity: 0.6;
    }
  }
  
  
.c-goto-top {
  right: 100px;
  bottom: 80px;
  height: 68px;
  width: 68px;
  background:rgba(0, 0, 0,0.5) ;   
  padding: 28px 25px 23px 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;  
  pointer-events: none;
  transition: opacity 0.3s;
  position: fixed; 
  z-index: 1000;
}
