@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// .c_page-top {
//     position: fixed;
//        right: 60px;
//        bottom: 60px;
//        height: 68px;
//        width: 68px;
//        background:rgba(0, 0, 0,0.5) ;   
//        padding: 28px 25px 23px 25px;
//        text-align: center;
//        border-radius: 50%;
//        cursor: pointer;
//        opacity: 0;
//        visibility: hidden;
//        transition: all 0.3s ease;
//        z-index: 999;
//        &:hover {
//         opacity: 0.4;
//      }   
//        @include sp {
//          height: 50px;
//          width: 50px;
//          right: 20px;
//          bottom: 60px;
//          padding: 20px 18px 15px 18px;
//        }   
          
 
//   img {
//     width: 100%;
//     height: auto;
//     display: block;
//   }
// }
  
  
//    .c_page-top.is-change {
//      opacity: 1;
//      visibility: visible;
//      pointer-events: auto;
//    }

   .c-page-top {
    position: fixed;
   
    right: 11.1rem;
    bottom: 90px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    width: 68px;
    height: 68px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  .c-page-top img{
   
    width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  
  @include sp {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
  }

  .c-page-top.is-show {
    opacity: 1;
    pointer-events: auto;
  }
  
.c-goto-top {
  right: 60px;
  bottom: 60px;
  height: 68px;
  width: 68px;
  background:rgba(0, 0, 0,0.5) ;   
  padding: 28px 25px 23px 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  position: fixed; 
  z-index: 1000;
}