@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



// .c-label {
//     height: 2.5rem;
//     color: $white;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 1.5rem;
//     line-height: calc(25 / 15);
//     margin: 0;
// }

.c-label {
  position: absolute;
  top: 0;
  left: 0;
  background: $red;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.7rem 1.6rem;
  min-width: 8rem;
  text-align: center;
  z-index: 1;
  line-height: 1.15;
}