// projectのエントリーポイント


// 前後記事ナビ
@use './p-article-nav';

// 関連記事
@use './p-related-posts';

// サイドバー
@use './p-aside';

// ヘッダー
@use './p-header';

// top
@use './p-top-btn';
@use './p-top-fv';
@use './p-top-vision';
@use './p-top-ad';
@use './p-top-reason';
@use './p-top-voice';
@use './p-top-flow';
@use './p-top-faq';
@use './p-top-blog';

// 下層ページFV
@use './p-child-fv';

// plan
@use './p-plan-pricing';

// blog
@use './p-blog-list';
@use './p-blog-details';

// contact
@use './p-contact-form';
@use './p-contact-send';

// 404
@use './p-404';

// search
@use './p-search';

// result
@use './p-result-list';
@use './p-result-details';