@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-404{
    padding-top: 6.7rem;
    padding-bottom: 9rem;
    
  
    @include sp {
      padding-top: 52px;
      padding-bottom: 50px;
    }
  }
  

  
  .p-404__container-text {
    text-align: center;
    font-size: 1.8rem;
    line-height: calc(30/18);
    margin: 0 auto;
   
  }
  
  /*****ボタン*****/
  .p-404__contact__button {
      margin-top: 4rem;
      margin-inline: auto;  
      width: 250px;
    
      @include sp {
        max-width: 335px;
        width: 100%;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
      }
    }
    
    .p-404__form-submit {
    
      width: 100%;
      height: 50px;
      background: $red;
      color: $white;
      border: 1px solid $red;
      font-size: 2.5rem;
      line-height: calc(33 / 25);
      font-weight: 600;
      cursor: pointer;
      display: block;
      text-align: center;
      transition: all .4s;
      text-decoration: none;
     
    
      &:hover {
        color: $red;    
        background-color:$white;
        
      }
    
    
    }
    
  