
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-404 {
  padding-top: 6.7rem;
  padding-bottom: 9rem;

  @include sp {
    padding-top: 4.7rem;
    padding-bottom: 5rem;
  }
}



.p-404__container-text {
  text-align: center; 
  margin: 0 auto;

  @include sp {
    text-align: left;
  }

}

/*****ボタン*****/
.p-404__btn-container {
  margin-top: 4rem;
  margin-inline: auto;
  width: 25rem;

  @include sp {
    max-width: 33.5rem;
    width: 100%;
    margin-top: 3.9rem;
    display: flex;
    justify-content: center;
  }
}

.p-404__btn {
  display: inline-grid;
  place-items: center;
  width: 100%;
  height: 5rem;
 
  border: 1px solid $red;
  font-size: 2.5rem;
  line-height: calc(33 / 25);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

 
  @include sp {
    font-size: 2rem;
    line-height: calc(26 / 20);
  }


}