@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-sidebar-widget {
  background: $white;
  margin-bottom: 3rem;

  
}


.p-sidebar-widget__title {
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: calc(33/18);
  padding-block: 0.8rem;
}

.p-sidebar-widget__magazine {
  border: 0.5px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-sidebar-widget__image {
  background: #e8e8e8;
  width: 100%;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: calc(33/18);
  margin: 1.5rem;

  @include sp {
    height: 23rem;
    margin: 2rem;
  }

}

.p-sidebar-widget__search-box {
  border: 0.5px solid $black;
}

.p-sidebar-widget__form {
   position: relative;
  display: flex;
  margin: 1.5rem;
  background: #e8e8e8;
height: 4rem;
  @include sp {
    margin: 2rem;
    height: 5.4rem;
  }
}

.p-sidebar-widget__form {
  @include sp {
    margin: 2rem;
    height: 5.4rem; // SPデザインに合わせる
  }
}

.p-sidebar-widget__form input {
  // max-width: 18rem;
  // padding: 0.5rem;
   box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 .8rem;
  padding-right: 4rem; // ← 後述のボタン幅ぶん確保
 border: 0;
  background: transparent;
@include sp {
    padding-right: 5.4rem   

}
}

.p-sidebar-widget__form button {
position: absolute;
padding: 0.8rem 1.1rem;
  top: 0;
  right: 0;
  width: 4rem;
  height: auto;
  display: grid;
  place-items: center;
  background: $black;
  border: 0;
  // border: none;
  // padding: 0 1rem;
  // // display: flex;
  // align-items: center;
  cursor: pointer;



  @include sp {
 width: 5.4rem;
 height: 5.4rem;  
  }
}





// おすすめの記事投稿
.p-sidebar-widget__popular {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1.5rem;

  li {
    display: flex;
    gap: calc(15 /250 *100%);

  }

  @include sp {
    margin-top: 2rem;
    row-gap: 2rem;
  }
}

.p-sidebar-widget__popular-thumb {
  width: calc(95 /250 *100%);
  height: 7.5rem;
  background: #e8e8e8;
@include sp {
  width:  calc(160 /335 *100%);
  height: 11rem;

}

}

.p-sidebar-widget__popular-text {
  flex: 1;   
  font-size: 1.7rem;
  color: #222;
  line-height: calc(28 / 17);
  --lh: calc(28 / 17 * 1em);   /* 1行の高さ（em換算） */
  height: calc(var(--lh) * 2); /* ← ここで “2行” に固定 */
  overflow: hidden;
  /* WebKit系での2行省略（…） */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  // Firefox など非対応ブラウザ用のフォールバック（1行のみ省略）    
    @supports not (-webkit-line-clamp: 2) {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @include sp {
   margin-top: 0.5rem;
  }

}

// カテゴリー
.p-sidebar-widget__category {


  li {    
    display: flex;
    align-items: center; 
    padding: 0.93rem 0;
    border-bottom: 1px solid $black;
    font-size: 1.7rem;
    line-height: calc(28 / 17);
    color: #222;
  }
}