
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-blog-list {
    padding-top: 7.5rem;
     padding-bottom: 21rem;

    @include sp {
        padding-top: 4.5rem;
       padding-bottom: 20.3rem;
    }
}

.p-blog-list__items {
    margin-top: 4.4rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;


    @include sp {
        align-items: center;
        margin-top: 4rem;
        gap: 4rem;
        padding-bottom: 0;
    }
}

// .p-blog-list__item {
//     position: relative;
// }

.p-blog-content a {
    display: flex;
    justify-content: center;
    gap: calc(50 / 880 *100%);
   

    @include sp {
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
    }
}

.p-blog-content__img-box {
    position: relative;
    width:calc(260 / 880 * 100%);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sp {
        width: 100%;
    }
}

.p-blog-content__img {
    aspect-ratio: 260 / 184;
    overflow: hidden;
    padding: 0;
    // padding-right: 0.5rem;
    // padding-bottom: 0.5rem;

    @include sp {
        aspect-ratio: 335 / 200;
        padding-right: 0;
        padding-bottom: 0;
    }
}

.p-blog-content__img img {
    display: block;
    /* 行間隙間除去 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-blog-content__body {
    flex: 1;
}

.p-blog-content__heading {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    

    @include sp {
        line-height: calc(30 / 20);
       
    }
}

.p-blog-content__date {
    display: block;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top:0.2rem;
   

    @include sp {
        text-align: right;
         margin-top: 0.5rem;
        
    }
}

.p-blog-content__excerpt {   
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
   margin-top: 1.2rem;

    @include sp {
       
        text-align: left;
        margin-top: 1rem;
    }
}
.p-blog-list__pagination{
    margin-top: 7rem;
    @include sp {
      margin-top: 5.7rem;
    }
}