@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


// inner
.p-blog-details {
    padding-top: 7rem;
    padding-bottom: 18.5rem;
    margin: 0 auto;

    @include sp {
        padding-top: 5rem;
        padding-bottom: 19.6rem;
    }
}

.p-blog-details__main {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @include sp {
        flex-direction: column;
        gap: 0;
    }
}

// メイン記事 
.p-blog-details__article {
    flex: 1;
}

// サイドバー
.p-blog-details__aside {
    width: 25rem;

    @include sp {
        width: 100%;
    }
}

// 記事01

.p-blog-details__img {
    width: 100%;
    position: relative;

    img {
        aspect-ratio: 600 / 350;
        object-fit: cover;

        @include sp {
            aspect-ratio: 335 / 200;
        }
    }
}

.p-blog-details__title {
    margin-top: 4.6rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);

    @include sp {
        margin-top: 2.7rem;
        font-size: 2rem;
    }
}

.p-blog-details__date {
    display: block;
    letter-spacing: -0.02em;
    margin-top: 0.6rem;
    font-size: 1.7rem;
    line-height: calc(30 / 17);

}

// SNSボタン
.p-blog-details__sns {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;



}


.p-blog-details__sns-btn {
  width: 10.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-weight: 700;
  color: $white;
  @include sp {
    width: initial;
    flex: 1;
  }

  &--fb {
 background: #425893;
    .p-blog-details__sns-icon {
      width: 1.11rem;
    }
  }

  &--tw {
    background: #4A9FEB;
    @include pc {
      width: 8.8rem;
    }
    .p-blog-details__sns-icon {
      width: 2.09rem;
    }
  }
  &--hatena {
    background: #4EACD5;
    @include pc {
      width: 9.3rem;
    }
    .p-blog-details__sns-icon {
      width: 1.69rem;
    }
  }
  &--line {
    background: #52B534;
    @include pc {
      width: 8.1rem;
    }
    .p-blog-details__sns-icon {
      width: 2.03rem;
    }
  }
  &--pocket {
    background: #DC4F5A;
    @include pc {
      width: 9.1rem;
    }
    .p-blog-details__sns-icon {
      width: 2.16rem;
    }
  }
}



.p-blog-details__sns-name {
  font-size: 1rem;
  @include sp {
    display: none;
  }
}


// 記事02
.p-blog-details__content {
    margin-top: 5rem;

    @include sp {
        margin-top: 3rem;
    }
}


.p-blog-details__content p{
  margin-block: 1.7rem;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
}

.p-blog-details__content h2{
  margin-block: 3.3rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: calc(40 / 20);

  @include sp {
    line-height: calc(30 / 20);
  }
}

.p-blog-details__content figure {
  margin-block: 1.7rem;

  @include sp {
    margin-top: 3.9rem;
  }

  img {
    width: 33.5rem;
    aspect-ratio: 335 / 200;
    object-fit: cover;

    @include sp {
      width: 100%;
    }
  }
}

.p-blog-details__content ul,
.p-blog-details__content ol {
  margin-block: 2.8rem;
  padding-left: 1em;
}

.p-blog-details__content li {
  font-size: 1.8rem;
  line-height: 1.6;
  list-style: initial;
}

.p-blog-details__content h3 {
  margin-block: 4.3rem 1.7rem;
  font-size: 2rem;
  line-height: calc(40 / 20);
  font-weight: 700;
  padding-left: 1.1rem;
  position: relative;

  @include sp {
    line-height: calc(30 / 20);
    margin-bottom: 2rem;
  }

  &::before {
    content: "";
    width: 0.3rem;
    height: 2rem;
    height: calc(100% - 2rem);
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include sp {
      height: calc(100% - 1rem);
    }
  }
}

.p-blog-details__content blockquote {
  display: flex;
  column-gap: 0.8rem;
  padding: 1.8rem 3rem 1rem;
  background: #E8E8E8;
  margin-block: 1.7rem 2.9rem;
  position: relative;
  border: none;
  
  @include sp {
    column-gap: 1.7rem;
    padding: 1.7rem 2rem 1.1rem 2.5rem;
    margin-bottom: 2.6rem;
  }
      
  &::before {
    content: "";
    background: url(../images/blog_details/icon-blockquote.svg) center center / contain no-repeat;
    display: inline-block;
    width: 2.7rem;
    height: 2.34rem;
  }
  
  p {
    margin: 0;
    flex: 1;
    font-size: 1.8rem;
    line-height: calc(30/18);

  }
}

.p-blog-details__content a {
  font-size: 2rem;
  font-weight: bold;
  color: $red;
  margin-block: 1.8rem;
  text-decoration: underline;
}

.p-blog-details__content hr {
  margin-block: 4.1rem;
border-bottom: 0.5px solid;

  @include sp {
    margin-bottom: 5rem;
  }
}

// .p-blog-details__heading {
//     font-size: 2rem;
//     font-weight: 700;
//     line-height: calc(40 / 20);
//     margin-top: 3.3rem;

//     @include sp {
//         margin-top: 4rem;
//         line-height: calc(30 / 20);
//     }
// }

// .p-blog-details__text-box02 {
//     margin-top: 1.5rem;
// }


// .p-blog-details__subimg {
//     margin-block: 1.6rem;

//     @include sp {
//         margin-top: 3.8rem;
//     }

//     img {
//         width: 33.5rem;
//         aspect-ratio: 335 / 200;
//         object-fit: cover;

//         @include sp {
//             width: 100%;
//         }
//     }
// }

// .p-blog-details__lists {
//     list-style: disc;
//     margin-left: 2rem;
//     margin-top: 2.8rem;

//     @include sp {
//         margin-top: 2.7rem;
//     }
// }

// .p-blog-details__article hr {
//     margin-block: 4rem;

//     @include sp {
//         margin-block: 3.8rem;
//     }
// }

// // 記事03
// .p-blog-details__subheading {
//     font-size: 2rem;
//     font-weight: 700;
//     line-height: 1;
//     background: transparent;
//     border-left: 0.3rem solid $black;
//     padding-left: 1rem;
//     margin-top: 5.3rem;

//     @include sp {
//         line-height: calc(30 / 20);
//         margin-top: 5rem;

//     }
// }

// // 引用ブロック
// .p-blog-details__blockquote {
//     margin-block: 2.5rem;


//     @include sp {
//         margin-top: 1.8rem;
//         margin-bottom: 2.7rem;
//     }

// }

// .p-blog-details__link {
//     margin-top: 2rem;
// }

// .p-blog-details__link a {
//     font-size: 2rem;
//     font-weight: 700;
//     line-height: calc(33 / 20);
//     color: $red;
//     text-decoration-line: underline;
//     text-decoration-color: $red;
//     text-decoration-thickness: 0.1rem;

// }


// 前後記事ナビ
.p-blog-details__article-nav {
    margin-top: 5rem;

    @include sp {
        margin-top: 4.2rem;
    }
}


// 関連記事
.p-blog-details__related-posts {
    margin-top: 9rem;

    @include sp {
        margin-top: 6rem;
    }
}