
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


// inner
.p-blog-details__wrapper {  
    padding-top: 7rem; 
    padding-bottom: 19rem;    
    margin: 0 auto;

    @include sp {
        padding-top: 5rem;      
        padding-bottom: 19.6rem;
    }
}
.p-blog-details__main {
    display: flex;
    justify-content: space-between;
    gap: calc(30 / 880 *100%);

    @include sp {
        flex-direction: column;
        gap: 0;
    }
}

// メイン記事 
.p-blog-details__article {
    flex: 1;  
}

// サイドバー
.p-blog-details__aside {
    width: calc(250 / 880 *100%);

    @include sp {
        width: 100%;
    }
}

// 記事01

.p-blog-details__img {
    width: 100%;
    position: relative;
}

.p-blog-details__title {
    margin-top: 4.6rem;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);

    @include sp {
        margin-top: 2.7rem;
        font-size: 2rem;
    }
}

.p-blog-details__date {
    display: block;
    letter-spacing: -0.02em;
    margin-top: 0.5rem;

    @include sp {}
}

// SNSボタン
.p-blog-details__sns {
    display: flex;
    gap: 4px;
    margin-top: 2.1rem;


    @include sp {
        margin-top: 2.2rem;

    }
}

.p-blog-details__sns-btn {
    display: inline-block; 
    list-style: none;
}

.p-blog-details__sns-btn a {
    display: inline-block;
    line-height: 0;

    img {
        display: block; // インライン要素特有の下の余白を消す
        height: auto; // 縦横比を維持
        max-width: 100%; // 親に収まるように
    }
}
.p-blog-details__text-box {
       margin-top: 4rem;

    @include sp {
        margin-top: 2rem;
    }
}



// 記事02

.p-blog-details__heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(40 / 20);
   margin-top: 3.3rem;

    @include sp {
         margin-top: 4rem;
       
        line-height: calc(30 / 20);
    }
}

.p-blog-details__text-box02 {
       margin-top: 2rem;

    @include sp {
        margin-top: 1.5rem;
    }
}


.p-blog-details__subimg {
    margin-top: 1.4rem;
    width: calc(335 / 600 *100%);

    @include sp {
        margin-top: 3.9rem;
        width: 100%;

    }
}

.p-blog-details__lists {
    list-style: disc;
    margin-left: 2rem;
    margin-top: 2.8rem;

    @include sp {
        margin-top: 2.7rem;
    }   
}

.p-blog-details__article hr{
    margin-block:4.1rem ;
    @include sp {
        margin-block: 3.9rem;
    }
}

// 記事03
.p-blog-details__subheading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;

    background: transparent;
    border-left: 3px solid $black;
    padding-left: 1rem;
    // margin-top:1 rem;
     margin-top: 5.3rem;

    @include sp {
        line-height: calc(30 / 20);
       margin-top: 5.1rem;
        
    }
}

// 引用ブロック
.p-blog-details__blockquote {
    margin-block: 2.5rem;
   

    @include sp {
        margin-top: 1.5rem;
        margin-bottom: 2.7rem;
    }

}

.p-blog-details__link {
    margin-top: 2rem;
}
.p-blog-details__link a {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33 / 20);
    color: $red;
    text-decoration-line: underline;
    text-decoration-color: $red;
    text-decoration-thickness: 1px;

}


// 前後記事ナビ
.p-blog-details__article-nav {
  margin-top: 5.2rem;

    @include sp {
      margin-top: 4.8rem;
    }
}


// 関連記事
.p-blog-details__related-posts {
    margin-top: 9rem;

    @include sp {
        margin-top: 6.2rem;
    }
}



