@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// パンくずリスト

.p-blog-details__breadcrumb-inner {
    width: 100%;
    background-color: #E8E8E8;


}

.p-blog-details__breadcrumb {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 3rem;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    display: block;
    height: 5rem;


    @include sp {
        padding-inline: 2rem;
        // padding-block: 0;
        align-items: center;
        height: 3.6rem;
    }
}

// メイン記事
.p-blog-details__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem; // 元の値に戻す
    padding-bottom: 18.5rem;
    gap: calc(30 / 880 *100%);
    margin: 0 auto;

    @include sp {
        padding-top: 5rem;
        flex-direction: column;
        padding-bottom: 16.5rem;
    }
}

.p-blog-details__article {
    flex: 1;
}

// サイドバー
.p-blog-details__aside {
    width: calc(250 / 880 *100%);

    @include sp {
        width: 100%;
    }
}

// 記事01
.p-tab-panel__eyecatch {
    width: 100%;
    position: relative;
}


.p-tab-panel__title {
    margin-top: 4.6rem;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);

    @include sp {
        margin-top: 2.7rem;
        font-size: 2rem;
    }
}

.p-tab-panel__date {
    display: block;
    letter-spacing: -0.02em;
    margin-top: 0.5rem;

    @include sp {}
}

// SNSボタン
.p-tab-panel__sns-box {
    display: flex;
    gap: 4px;
    margin-top: 2.1rem;


    @include sp {
        margin-top: 2.2rem;

    }
}

.p-tab-panel__sns-btn {
    display: inline-block; // li が画像サイズにフィット
    list-style: none;
}

.p-tab-panel__sns-btn a {
    display: inline-block;
    line-height: 0;

    img {
        display: block; // インライン要素特有の下の余白を消す
        height: auto; // 縦横比を維持
        max-width: 100%; // 親に収まるように
    }
}

.p-tab-panel__text {
       margin-top: 4rem;

    @include sp {
        margin-top: 2rem;
    }
}

// 記事02
.p-blog-details__content02 {
    // padding-bottom: 3.9rem;
    // border-bottom: 0.5px solid $black;
    margin-top: 3.3rem;

    @include sp {
        margin-top: 4rem;
        padding-bottom: 3.5rem;
    }

}

.p-tab-panel__heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(40 / 20);
   

    @include sp {
        line-height: calc(30 / 20);
    }
}

.p-tab-panel__image {
    margin-top: 1.6rem;
    width: calc(335 / 600 *100%);

    @include sp {
        margin-top: 3.9rem;
        width: 100%;

    }
}

.p-tab-panel___lists {
    list-style: disc;
    margin-left: 2rem;
    margin-top: 2.8rem;

    @include sp {
        margin-top: 2.7rem;
    }   
}

.p-blog-details__tabs hr{
    margin-block:4.1rem ;
}

// 記事03


.p-tab-panel__subheading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;

    background: transparent;
    border-left: 3px solid $black;
    padding-left: 1rem;

    @include sp {
        line-height: calc(30 / 20);
       
        
    }
}

// 引用ブロック
.p-tab-panel__blockquote {
    margin-top: 2.5rem;
    margin-bottom: 2.8rem;

    @include sp {
        margin-top: 1.95rem;
        margin-bottom: 2.7rem;
    }

}

.p-tab-panel__link {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33 / 20);
    color: $red;
    text-decoration-line: underline;
    text-decoration-color: $red;
    text-decoration-thickness: 1px;

}



// 関連記事
.p-blog-details__related-posts {
    margin-top: 9rem;

    @include sp {
        margin-top: 6.2rem;
    }
}

.p-blog-details__thumbnail {
    position: relative;
    flex-shrink: 0; // 縮まないように
    width: calc(200 / 600 * 100%);

    @include sp {
        width: calc(160 / 335 * 100%);
    }
}

