@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-blog-list {
    padding-top: 7.5rem;
    padding-bottom: 21rem;

    @include sp {
        padding-top: 4.5rem;
        padding-bottom: 20rem;
    }
}

.p-blog-list__items {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 6.7rem;
    padding-bottom: 6.9rem;

    @include sp {
        position: static;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        gap: 3.8rem;
         padding-bottom: 5.8rem;
    }
}

.p-blog-list__item {
    position: relative;
}

.p-blog-list__link {
    display: flex;

    justify-content: center;
    gap: calc(50 / 940 *100%);

    @include sp {
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
    }
}

.p-blog-list___label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    width: 8rem;
    height: 3rem;
    z-index: 1;
}

.p-blog-list__label-text {
    height: 2.5rem;
    color: $white;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: calc(25/15);
    margin: 0;
}

.p-blog-list__img-box {
    width: 30%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    @include sp {
        width: 100%;
        justify-content: center;
        align-items: center;
    }


}

.p-blog-list__img {
    aspect-ratio: 260 / 184;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;

    @include sp {
        aspect-ratio: 335 / 200;
        padding-right: 0;
        padding-bottom: 0;
    }
}

.p-blog-list__body {
    flex: 1;
}

.p-blog-list__heading {
    font-size: 2rem;
    line-height: calc(25/20);
    font-weight: 700;
    margin-bottom: 0.4rem;

    @include sp {
        line-height: calc(30/20);
        margin-bottom: 1rem;
    }
}

.p-blog-list__date {
    display: block;
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 1.8rem;

    @include sp {
        text-align: right;
    }
}

.p-blog-list__excerpt {
    font-size: 1.8rem;
    line-height: calc(30/18);

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30/16);
        text-align: left;
    }
}