@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-blog-details__container{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem; // 元の値に戻す
    padding-bottom: 19rem;
    gap: calc(30/940 *100%);
    margin: 0 auto;
    
    @include sp {
        padding-top: calc(7rem + 5rem); // スマホではheaderの高さ(5rem)を追加
    }
}

.p-blog-details__article{
    flex: 1;
}

.p-blog-details__aside{
    width: calc(250 /880 *100%);
}
.p-tab-panel__content01{
    margin-bottom: 3.3rem;
}
.p-tab-panel__title{
    margin-top:4.6rem ;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40/25);
}
.p-tab-panel__date{
    display: block;
    margin-bottom: 2.1rem;
}
.p-tab-panel__sns-box{
    display: flex;
    gap: 4px;
    margin-bottom: 4.8rem;
}
.p-tab-panel__content02{
    padding-bottom: 4rem;
    border-bottom: 0.5px solid $black;
    
}
.p-tab-panel__heading{
    font-size:2rem ;
    font-weight: 700;
    line-height: calc(40/20);
    
    margin-bottom: 1.7rem;
}
.p-tab-panel___image{
    margin-top:1.5rem ;
    margin-bottom:3rem ;
    width: calc(335 /600 *100%);
}

.p-tab-panel___lists{
    list-style: disc;
    margin-left: 2rem; 
    
    li {      
        line-height:calc(30/18);
    }
}

.p-tab-panel__content03{
   margin-top:4.3rem ;
}

.p-tab-panel__subheading{
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(40/20);
        // padding: 0.25em 0.5em;/*上下 左右の余白*/  
  background: transparent;
  border-left:  3px solid  $black;
}




// 前後記事ナビ
.p-article-nav{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    column-gap: 8rem;
}



.p-article-nav__heading{
    color: $white;
    background-color: $black;
    display: flex;
    align-items: center;
    padding: 0.4rem 2rem ;
   
}
.p-article-nav__box{
    display: flex;
    justify-content: space-between;
    column-gap:1.6rem ;
    margin-top: 1.5rem;
}
.p-article-nav__box-img{
    width: calc(100/260 *100%);
    
}
.p-article-nav__box-text {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; // 最大3行
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: calc(25/16);
    max-height: calc(1.6em * 3); // line-height × 行数
  }



// 関連記事
.p-related-posts{
    margin-top:10rem ;
}
.p-related-posts__title{
    font-size: 1.8;
    font-weight: 700;
    line-height: calc(33/18);
    background-color: $black;
    color: $white;
    padding: 0.8rem 3rem;
}

.p-related-posts__list{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;    
    row-gap: 3rem;

}

.p-related-posts__item-link{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}
.p-related-posts__body{
    flex: 1
    ;
}
.p-related-posts__text{
    font: size 2rem;
    font-weight: 700;
    list-style: calc(25/20);
}
.p-related-posts__date{
    font-size: 1.7rem;
    line-height: calc(30/17);
}