@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-contact {
  padding-top: 7rem;
  padding-bottom: 10rem;
  position: relative;

  @include sp {
    padding-top: 5rem;
    padding-bottom: 11rem;
  }
}

.p-contact__container {
  max-width: 88rem;
  margin-inline: auto;
}

.p-contact__container-text {
  text-align: center;
  margin: 0 auto;

  @include sp {
    text-align: left;
  }
}

.p-contact-form {
  margin-top: 6.2rem;

  @include sp {
    margin-top: 3rem;
  }
}


.p-contact-form__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 3rem;

  @include sp {
    row-gap: 1.5rem;
  }
}

.p-contact-form__area {
  display: flex;

  @include sp {
    flex-direction: column;
  }
}

.p-contact-form__area dt {
  width: 16.9rem;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: calc(33 / 20);


  @include sp {

    width: 100%;
    height: initial;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    padding-top: 0;
  }
}

.p-contact-form__area dd {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: calc(30 / 18);

  @include sp {
    font-size: 1.6rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    height: 4rem;
    border: 0.05rem solid #000;
    padding-inline: 2rem;
    background: #fff;
    font-size: 1.8rem;
    line-height: calc(30 / 18);

    @include sp {
      font-size: 1.6rem;

    }
  }
}

.p-contact-form__form-control {
  width: 100%;
  height: 100%;
  padding: 0.2rem 2rem;
  // font-size: 1.5rem;
  // line-height: calc(33 / 15);
  border: 0.5px solid $black;

  @include sp {
    width: 100%;
    height: 4rem;
  }
}



.p-form-area__email {
  @include sp {}

}

::placeholder {
  color: #B2B2B2;

  @include sp {
    font-size: 1.5rem;
    line-height: calc(22 / 15);
  }

}

/*****チェックボックス*****/

.p-contact-form__checkbox {
  display: flex;

  @include sp {
    flex-direction: column;
  }
}

.p-form-checkbox dt {
  width: 16.9rem;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  line-height: calc(33 / 20);

  @include sp {
    height: 3.3rem;
    font-size: 1.6rem;
    line-height: calc(33 / 16);
  }
}


.p-form-checkbox dd {
  flex: 1;
  width: 100%;
  display: block;

  padding: 0; // ← 余白を完全になくす
  margin: 0;

}


.p-form-checkbox__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.9rem;

  @include sp {
    row-gap: 1rem;
  }
}

.p-form-checkbox__item {
  // display: inline-flex;
  // align-items: center;
  // width: max-content;
  /* 中身の幅だけ */
  cursor: pointer;

  // user-select: none;
  // gap: 0;
  input[type="checkbox"] {
    display: none;
  }
}

.p-form-checkbox__item span {
  font-size: 1.8rem;
  line-height: 1.15;

  @include sp {
    font-size: 1.6rem;
    
  }
}

.p-form-checkbox__item input[type=checkbox]+span {
  position: relative;
  display: inline-block;
  padding-left: 4rem;

  @include sp {
    padding-left: 3rem;
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    border: 0.05rem solid #000;
    width: 2rem;
    height: 2rem;

  }

}

input[type="checkbox"]:checked+span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0.6rem;
  // transform: translateY(-60%) rotate(50deg);
  transform: translate(10%, -60%) rotate(50deg);
  width: 0.6rem;
  height: 1.2rem;
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  display: none;
  // @include sp {
  //   left: -22px;
  // }
}

.p-form-checkbox__item input[type=checkbox]:checked {
  &+span {
    &::after {
      display: block;
    }
  }
}


.form-area-message {
  dt {


    @include sp {
      line-height: 1;
    }
  }

  dd {
    padding: 0;
    border: 0;
  }
}

.form-textarea {
  // width: 100%;
  // min-height: 19rem;
  // border: 0.5px solid $black;
  // padding: 1.4rem 2rem;
  // display: block;
  // resize: vertical;
  // font-size: 1.8rem;
  // line-height: calc(30 / 18);
  width: 100%;
  background-color: #FFF;
  min-height: 30rem;
  padding: 1.4rem 2rem;
  resize: vertical;
  font-size: 1.8rem;
  line-height: 1.2;
  border: 0.5px solid $black;

  @include sp {
    padding: 1.5rem 2rem;
    min-height: 19rem;
    margin-top: 1.1rem;

  }}

  /*****ボタン*****/
  .p-contact-form__contact__button {
    margin-top: 5rem;
    margin-inline: auto;
    width: 25rem;


    @include sp {
      max-width: 33.5rem;
      width: 100%;
      display: flex;
      justify-content: center;

    }
  }

  .p-contact-form__form-submit {

    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: calc(33 / 25);
    cursor: pointer;
    display: grid;
    place-content: center;
    text-decoration: none;


    @include sp {
      font-size: 2rem;
      line-height: calc(26 / 20);
    }


  }