@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-contact{
  padding-top: 7rem;
  padding-bottom: 8rem;
  position: relative;

  @include sp {
    padding-top: 52px;
    padding-bottom: 50px;
  }
}

.p-contact__container{
  max-width: 88rem;
  margin-inline: auto;
  // @include sp {
  //  padding-inline: 0;

  //  }
}

.p-contact__container-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: calc(30/18);
  margin: 0 auto;
}

.p-contact-form {
  margin-top: 6.5rem;
  font-size: 2rem;
  line-height: calc(33/20);

  @include sp {
    margin-top: 4rem;
  }
}

// .p-contact-form__box {
//   margin-top: 39px;

//   @include sp {
//     margin-top: 24px;
//   }
// }

.p-contact-form__box{
  display: flex;
  flex-direction: column;
  width: 100%;  
  row-gap: 3rem;
}

.p-contact-form__area{
  display: flex;

  @include sp {
    flex-direction: column;  
  }
}

.p-contact-form__area dt {
  width: 17rem;
  height: 4rem;

  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: calc(33 / 20);

  @include sp {
    width: 100%;
    height: initial;

  }
}

.p-contact-form__area dd {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem 2rem;
  font-size: 1.5rem;
  border: 0.5px solid $black;

}
.p-form-area__email {
  
  @include sp {
    
  }

}
::placeholder {
  color: #B2B2B2;
  font-size: 1.5rem;
  line-height: calc(22/15);
}

/*****チェックボックス*****/

.p-form-checkbox {
  display: flex;
}

.p-form-checkbox__checkbox-group {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 0;
}

.p-form-checkbox__checkbox {
  position: relative;
  padding-left: 40px;
  display: block;
  margin-top: 0;
  pointer-events: auto;

  @include sp {
    font-size: 1.6rem;
    line-height: calc(25/16);
    padding-left: 30px;
  }

}
.p-form-checkbox dt{
  width: 17rem;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: calc(33 / 20);
}


.p-form-checkbox dd{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 0.2rem 2rem;
  font-size: 1.8rem;
  line-height: calc(30/18);

}
.p-form-checkbox__checkbox-group span {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -32px;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 0.5px solid $black;
    width: 20px;
    height: 20px;
    opacity: 1;

    @include sp {
      left: -22px;
    }

  }

}

input[type="checkbox"]:checked+span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: -32px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 12px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

  @include sp {
    left: -22px;
  }
}



.form-area-message {


  dt {
    margin-bottom: 10px;

    @include sp {
      margin-bottom: 0;
    }
  }

  dd {
    margin-top: 3px;
  }
}
/*****ボタン*****/
.p-contact-form__contact__button {
  margin-top: 78px;
  margin-inline: auto;

  width: 300px;

  @include sp {
    max-width: 315px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

.p-contact-form__form-submit {

  width: 100%;
  height: 50px;
  background: $red;
    color: $white;
    border: 1px solid $red;
  font-size: 2rem;
  line-height: calc(33 / 25);
  font-weight: 600;
  cursor: pointer;
  display: block;
  text-align: center;
  transition: all .4s;
  text-decoration: none;
 

  &:hover {
    color: var(--main-color);    
    background-color: #fff;
    
  }


}
