@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-child-fv {
  position: relative;  
  width: 100%;
  background: #e8e8e8;
}


.p-child-fv__img {
  position: relative;
  width: 100%;

  img {
    aspect-ratio: 1080 / 200;
    object-fit: cover;
    height: auto;
    display: block;

    @include sp {
      aspect-ratio: 375 / 300;
    }
  }

}

.p-child-fv__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  z-index: 1;
  mix-blend-mode: multiply;
}

.p-child-fv__title {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
  line-height: calc(60 / 25);
  font-weight: 700;
  margin: 0;
  z-index: 10;

  @include sp {
    top: 51%;
  }
}