@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-contact {
  padding-top: 7rem;
  padding-bottom: 8rem;
  position: relative;

  @include sp {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.p-contact__container {
  max-width: 88rem;
  margin-inline: auto;
  // @include sp {
  //  padding-inline: 0;

  //  }
}

.p-contact__container-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: calc(30/18);
  margin: 0 auto;

  @include sp {
    font-size: 1.6rem;
    line-height: calc(30/16);
    text-align: left;
  }
}

.p-contact-form {
  margin-top: 6.3rem;
  font-size: 2rem;
  line-height: calc(33/20);

  @include sp {
    margin-top: 3rem;
  }
}

// .p-contact-form__box {
//   margin-top: 39px;

//   @include sp {
//     margin-top: 24px;
//   }
// }

.p-contact-form__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 3rem;
  @include sp {
    row-gap: 1.4rem;
  }
}

.p-contact-form__area {
  display: flex;

  @include sp {
    flex-direction: column;
  }
}

.p-contact-form__area dt {
  width: 17rem;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  line-height: calc(33 / 20);
  padding-top: 0.7rem;

  @include sp {
    width: 100%;
    height: initial;
    font-size: 1.6rem;
    line-height: calc(33/16);
    padding-top: 0;
  }
}

.p-contact-form__area dd {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;


}

.p-contact-form__form-control {
  width: 100%;
  height: 100%;
  padding: 0.2rem 2rem;
  font-size: 1.5rem;
  line-height: calc(33/15);
  border: 0.5px solid $black;

  @include sp {
    width: 100%;
    height: 4rem;
  }
}



.p-form-area__email {
  @include sp {}

}

::placeholder {
  color: #B2B2B2;
  font-size: 1.5rem;
  line-height: calc(22/15);
}

/*****チェックボックス*****/

.p-contact-form__checkbox {
  display: flex;

  @include sp {
    flex-direction: column;
  }
}


.p-form-checkbox__checkbox-group {
  display: flex;
  flex-direction: column;

  row-gap: 1.5rem;
  margin-top: 0;
}

.p-form-checkbox__checkbox {
  // position: relative;  
  // display: block;
  // margin-top: 0;
  pointer-events: auto;
}

.p-form-checkbox dt {
  width: 17rem;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  line-height: calc(33 / 20);

  @include sp {
   
    font-size: 1.6rem;
    line-height: calc(33/16);
  }
}


.p-form-checkbox dd {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 0.2rem 2rem;
  font-size: 1.8rem;
  line-height: calc(30/18);

}

.p-form-checkbox__checkbox span {
  position: relative;
  display: inline-block;
  padding-left: 4rem;

  @include sp {
    font-size: 1.6rem;
    line-height: calc(25/16);
    padding-left: 30px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    border: 0.5px solid #000000;
    width: 2rem;
    height: 2rem;
    opacity: 1;

    @include sp {
      
    }

  }

}

input[type="checkbox"]:checked+span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  width: 0.6rem;
  height: 1.2rem;
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;

  @include sp {
    left: -22px;
  }
}



.form-area-message {
  dt {
    margin-bottom: 1rem;

    @include sp {
      margin-bottom: 0;
    }
  }

  dd {
    margin-top: 0.3rem;
    display: block;
    padding: 0;
    border: 0;
  }
}

.form-textarea {
  width: 100%;
  min-height: 30rem;
  border: 0.5px solid $black;
  padding: 1rem;

  @include sp {
    min-height: 19rem;
  }
}

/*****ボタン*****/
.p-contact-form__contact__button {
  margin-top: 5rem;
  margin-inline: auto;
  width: 25rem;


  @include sp {
    max-width: 33.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

  }
}

.p-contact-form__form-submit {

  width: 100%;
  height: 50px;
  background: $red;
  color: $white;
  border: 1px solid $red;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: calc(33/25);
  cursor: pointer;
  display: block;
  text-align: center;
  transition: all .4s ease-in-out;
  text-decoration: none;


  &:hover {
    color: $red;
    background-color: #fff;   

  }

  @include sp {
      font-size: 2rem;
      line-height: calc(26/20);
    }


}