
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-footer {
  background-color: $red;
  color: $white;
  text-align: center;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
  width: 100%;

  @include sp {
    padding-top: 2.5rem;

  }
}

.p-footer__nav ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 2.3rem;


  @include sp {
    flex-wrap: wrap;
    column-gap: 2rem;
    padding-top: 2.2rem;
  }
}

.p-footer__nav li {
  list-style: none;

}

.p-footer__nav li a {
  color: $white;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  height: inherit;
  padding: 0.5rem;
  text-transform: none;

}

.p-footer__logo {
  margin-top: 2rem;

  width: auto;
  height: auto;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;



}

.p-footer__logo img {
  width: 3.2rem;
  height: auto;
  display: block;
}

.p-footer__copyright {
  background-color: $red;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  text-align: center;
  margin-top: 1.8rem;

  letter-spacing: 0.01em;

  @include sp {
    margin-top: 1rem;
    padding-inline: 2rem;
    line-height: calc(20 / 15);


  }

  @media screen and (max-width:374px) {
    font-size: 1.4rem;

  }
}


.p-footer__sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .2rem;
  padding: 0;

  margin: 0.5rem 0 0;

  @include sp {
    margin-top: 1.4rem;
  }
}


.p-footer__sns li a {
  // display: block;
  list-style: none;
  line-height: 1;
  padding: .5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;

}