@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



  
  .p-footer-nav__lists{
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    column-gap: calc(26 /880 *100vh);      
    width: 100%; 
    color: $white;
  
    @include sp {
      flex-wrap: wrap;
      column-gap: 3rem;
      padding-top: 22px;
    }
  }
  
  .p-footer-nav__list {
    list-style: none;
        cursor: pointer;
  }
  
  .-footer-nav__list a {
    color: $white;
    font-size: 1.7rem;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    height: inherit;
    padding:5px;
  
    &:hover {
      opacity: 0.4;
    }
  }
    
  .p-footer-logo {    
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
     width: auto;
  height: auto;
    padding: 0.5rem;
    display: inline-block;
  text-align: center;
  cursor: pointer;
  
  
    @include sp {
      margin-bottom: 1rem;
    }
  
    &:hover {
      opacity: 0.4;
    }
  }
 
  .p-footer-logo img {   
    width: 3.2rem; 
   height: auto;
  display: block;
  }

  .p-footer__copyright {
    background-color: var(--main-color); 
    color: #fff;
    font-size: 1.5rem; 
    line-height: 1;  
    display: block;
    text-align: center; 
    margin-bottom: 0.5rem;
 
    @include sp {
      
      padding-inline: 2rem;
      line-height: calc(20/15);
      margin-bottom: 1rem;
     
    }  
    @media screen and (max-width:374px) {
      font-size: 1.4rem;
  
    }
  }
 
  
  .p-footer__sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:2px;      
  
    @include sp {
      margin-top: 1rem;
    }
  }
  
  
  .p-footer__sns-link a{
    display: block;
    list-style: none;
    line-height: 1;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      opacity: 0.4;
    }
  }
  
  