@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.fv__inner{
    position: relative;
}
.fv__inner__text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(80, 80, 80, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.fv__inner__text__title{
    font-size: 4rem;
    line-height: calc(60/40);
    color: $white;
    @include sp{
        font-size: 3rem ;
        line-height: calc(50/30);
        text-align: center;
    }
}