@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;




.p-footer-nav__lists {
  display: flex;
  justify-content: center;
  margin: 0 auto 2rem;
  column-gap: 2.3rem;
  width: 100%;
  color: $white;

  @include sp {
    flex-wrap: wrap;
    column-gap: 2rem;
    padding-top: 2.2rem;
  }
}

.p-footer-nav__list {
  list-style: none;
 
}

.p-footer-nav__list a {
  color: $white;
  font-size: 1.7rem;
  line-height: 1;  
  text-transform: capitalize;
  height: inherit;
  padding: 0.5rem;
  text-transform: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.4;
  }
}

.p-footer-logo {
  margin-bottom: 1.8rem; 
  width: auto;
  height: auto;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
 transition: all 0.3s ease;

  @include sp {
    margin-bottom: 1rem;
  }

  &:hover {
    opacity: 0.4;
  }
}

.p-footer-logo img {
  width: 3.2rem;
  height: auto;
  display: block;
}

.p-footer__copyright {
  background-color: $red;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 0.01em;

  @include sp {

    padding-inline: 2rem;
    line-height: calc(20 / 15);
    margin-bottom: 1rem;

  }

  @media screen and (max-width:374px) {
    font-size: 1.4rem;

  }
}


.p-footer__sns-items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .2rem;
  padding: 0;
  margin: 0;

  @include sp {
    margin-top: 1rem;
  }
}


.p-footer__sns-item a {
  // display: block;
  list-style: none;
  line-height: 1;
  padding: .5rem;  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}