@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-header {
  --header-h: 8rem;
  height: var(--header-h);
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: all .3s;
  background-color: $white;

  @include sp {
    --header-h: 5rem;
  }
}

.p-header__inner {
  max-width: 940px;
  width: 100%;
  height: var(--header-h);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  box-sizing: border-box;
  position: relative;

  @include sp {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.p-header__logo {
  height: var(--header-h);

  @include sp {
    width: 26rem;
  }
}

.p-header__logo a {
  display: flex;
  align-items: center;
  height: var(--header-h);
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.p-header__logo-img {
  width: 3.2rem;
  margin-right: 1rem;

  @include sp {
    width: 2rem;
    margin-right: 0.8rem;
  }
}

.p-header__logo-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(23 / 20);
  display: inline-block;

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
  }

}

.p-header__logo-text-small {
   font-weight: 700;
  font-size: 1.5rem;
  line-height: calc(23 / 15);

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
    letter-spacing: -0.02em;
   margin-left: -0.4rem;
  }
}

.p-header__right {
  display: flex;
  align-items: center;
  height: var(--header-h);
  gap: 3.3rem;
}

.p-header__nav {

  display: flex;
  align-items: center;
  height: var(--header-h);
}

.p-header__items {
  list-style: none;
  display: flex;
  align-items: center;
  height: var(--header-h);
  margin: 0;
  padding: 0;
  cursor: pointer;
  column-gap: 3.3rem;
  font-size: 1.8rem;
  line-height: calc(33 / 17);
  letter-spacing: normal;

  @include sp {
    display: block;
    position: fixed;
    width: calc(300 / 375 * 100%);
    // height: calc(100vh - var(--header-h));
    height: (5rem * 3);
    top: var(--header-h);
    left: 120%;
    overflow: hidden;
    color: #fff;
    background-color: $red;
    margin: 0;
    text-align: left;
    list-style: none;
    z-index: 1000; // ←スタッキング強化
    transition: all 0.4s;
    overflow-y: auto; // ←縦はスクロール
    overflow-x: hidden; // ←横は隠す   
    -webkit-overflow-scrolling: touch;

  }
}

.p-header__items.active {
  @include sp {
    left: 20%;
  }
}

.p-header__item {
  height: var(--header-h);
  display: flex;
  align-items: center;
  position: relative;

  @include sp {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.3s ease;

  }

  &::before {
    @include pc {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $black;
      left: 0;
      bottom: 2.8rem;
      transform: scaleX(0);
      transition: all .4s ease-in-out;
      transform-origin: left center;
    }
  }

  &:hover{
    &::before {
      transform: scaleX(1);
       height: 2px;
    }
  }
}



.p-header__link {
  height: var(--header-h);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: calc(33 / 17);
  transition: all 0.3s ease-in-out;


  @include sp {
    font-size: 1.8rem;
    transition: all 0.3s ease;
    justify-content: flex-start;
    padding-inline: 2rem;
  }




&:hover {
  @include pc {
    opacity: 0.7;
  }

  @include sp {
    background: $black;
    color: $white;
  }

  &::before {
    transform: scaleX(1);
    height: 2px;
  }
}}


// ハンバーガーメニュー
.p-header__hamburger {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 7.2rem;
  height: 5rem;
  background-color: $red;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  @include sp {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.p-header__hamburger span {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 3.2rem;
  height: 0.4rem;
  background-color: $white;
  -webkit-transition: 0.4s;

}


.p-header__hamburger span:nth-of-type(1) {
  top: 25%;
}

.p-header__hamburger span:nth-of-type(3) {
  top: 75%;
}



.p-header__hamburger.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.p-header__hamburger.active span:nth-of-type(2) {
  display: none;
}

.p-header__hamburger.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* メニューオープン時のスクロール抑制 */
body.is-menu-open {
  overflow: hidden;
}

/* メニューオープン中は「ページトップ」ボタンを触れないようにしたい場合 */
body.is-menu-open .c-page-top {
  opacity: .0;
  pointer-events: none;
}

// .p-header { position: sticky; top: 0; z-index: 1000; }
.p-header__hamburger {
  z-index: 1001;
}

.p-header__items {
  z-index: 1000;
}