@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-header {
  // height: 8rem;
  height: hvw(80);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: all .3s;
  background-color: $white;

  @include sp {
    height: 5rem;
  }
}

.p-header__inner {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-inline: 3rem;
  padding-inline: hvw(30);

  @include sp {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.p-header__logo {
  width: 19.2rem;
  height: inherit;

  @include sp {
    width: 26rem;
  }
}

.p-header__logo a {
  display: flex;
  align-items: center;
  height: hvw(80);
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }
}

.p-header__logo-img {
  width: 3.2rem;
  margin-right: 1rem;

  @include sp {
    width: 2rem;
    margin-right: 0.8rem;
  }
}

.p-header__logo-text {
  font-size: hvw(20);
  font-weight: 700;
  line-height: calc(23/20);
  display: inline-block;

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14/13);
  }

}

.p-header__logo-text-small {
  font-size: hvw(15);
  line-height: calc(23 / 15);

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14/13);
  }
}

.p-header__right {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}

.p-header__nav {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__lists {
  display: flex;
  align-items: center;
  height: inherit;
  column-gap: hvw(33);

  @include sp {
    display: block;
    width: calc(300 / 375 * 100%);
    position: fixed;
    top: 5rem;
    left: 120%;
    overflow: hidden;
    color: #fff;
    background-color: $red;
    margin: 0;
    text-align: left;
    list-style: none;
    z-index: 1;
    transition: all 0.4s;
  }
}

.p-header__lists.active {
  @include sp {
    left: 20%;
  }
}

.p-header__list {
  height: inherit;
  display: flex;
  align-items: center;

  @include sp {
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.3s ease;

  }
}



.p-header__link {
  height: hvw(80);
  position: relative; // 疑似要素の基準にする
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: calc(33/17);
  transition: all 0.3s ease-in-out;


  @include sp {
    font-size: 1.8rem;
    padding: 0;
    width: 100%;
    height: inherit;
    transition: all 0.3s ease;
    justify-content: flex-start;
    padding-inline: 2rem;
  }

  &::before {
    @include pc {
      content: '';
      position: absolute;
      width: 100%;
      height: hvw(1);
      background: $black;      
      left: 0;
      bottom: hvw(28);
      transform: scaleX(0);
      transition: all .4s;
      transform-origin: left center;
    }
  }

  &:hover {
    @include pc {
      opacity: 0.7;
    }

    @include sp {
      background: $white;
      color: $red;
    }

    &::before {
      transform: scaleX(1);
    }
  }

}

.p-header__link,
.c-btn,
.p-header__hamburger {
  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}

.p-header__hamburger {
 
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.2rem;
  height: 5rem;
  background-color: $red;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {

    opacity: 0.7;

  }
}


.p-header__hamburger span {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 3.2rem;
  height: 0.4rem;
  background-color: $white;
  transition: transform .5s;

}

.p-header__hamburger.active span {
  position: absolute;
  top: 50%;
  left: 25%;
}

.p-header__hamburger span:nth-of-type(1) {
  top: 13px;
}

.p-header__hamburger span:nth-of-type(2) {
  top: 25px;
}

.p-header__hamburger span:nth-of-type(3) {
  top: 37px;
}

.p-header__hamburger.active span:nth-of-type(1) {
  top: 25px;
  transform: rotate(45deg);
}

.p-header__hamburger.active span:nth-of-type(2) {
  display: none;
}

.p-header__hamburger.active span:nth-of-type(3) {
  top: 25px;
  transform: rotate(-45deg);
}