@use "../../foundation/variable" as *;


.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    height: 8rem;
}
.p-header__logo{
    width: 19.2rem;
    height: inherit;
}

.p-header__logo__link{
    display: flex;
    align-items: center;
    height: inherit;
    
}

.p-header__logo__img{
    width: 3.2rem;
}

.p-header__logo__text{
    font-size: 1.7rem;
    font-weight: 700;
 
    display:inline-block;
    
     
}
.p-header__logo__text__span{
    font-size: 1.5rem;
    
}
.p-header__right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.p-header__nav{
    display: flex;
    align-items: center;
    height: inherit;
}
.p-header__nav__lists{
    display: flex;
    align-items: center;
    
    height: inherit;
}
.p-header__nav__list__link{
    height: inherit;
    display: flex;
    align-items: center;    
    text-decoration: none;
    padding: 2.5rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: calc(33/17);   
    transition: all 0.3s ease;
  

}