
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-pricing {
  padding-top: 7.2rem;
  padding-bottom: 3rem;

  @include sp {
    padding-top: 4.8rem;
    padding-bottom: 2rem;
  }
}

.p-pricing__section-title {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;

  @include sp {
    line-height: calc(40 / 25);
  }
}

.p-pricing__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4.6rem;

  @include sp {
    flex-direction: column;
    margin-top: 3.8rem;

    gap: 2rem;
  }
}

.p-pricing__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: $white;
  width: 21rem;
  padding-block: 1.4rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: calc(33 / 20);

}

.p-pricing__item-plus {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black;
  }

  &::before {
    width: 100%;
    height: 0.3rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    width: 0.3rem;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.p-pricing__description {
  margin-top: 4.8rem;

  @include sp {
    margin-top: 4.4rem;
  }
}

// 料金表
.p-plan-details {
  padding-top: 3.4rem;
  padding-bottom: 22.3rem;

  @include sp {
    padding-top: 1.8rem;
    padding-bottom: 18.6rem;
  }
}

.p-plan-details__container {
  margin-top: 5.5rem;

  @include sp {
    margin-top: 1.2rem;
  }

}
.p-plan-table {
  width: 100%;
  border-collapse: collapse;
  /* セルの線を重ねる */

 @media screen and (710px < width <= 767px) {
  width: 100%;
  margin-bottom: 1.75rem;
  }
@media screen and (max-width:710px) {
       width: 67rem;
    /*colgroupの合計幅*/
    margin-bottom: 1.75rem;
}
}

.p-plan-details__table-inner {
  @include sp {
    // display: block; // テーブルをブロック化して包む
    overflow-x: auto; // 横スクロール
    overflow-y: hidden; // 縦スクロール不要なら隠す（必要なら auto に）
    -webkit-overflow-scrolling: touch; // iOS 慣性スクロール
    width: 100%;   
    flex: 0 0 auto;
    touch-action: auto;

    &::-webkit-scrollbar {
      height: 2.5rem;
      background: rgba(80, 80, 80, 0.15);
    }

    &::-webkit-scrollbar-thumb {
      height: 2.3rem;
      background: rgba(80, 80, 80, 0.25);
    }
  }

}



// テーブルヘッダー
.p-plan-table__head {
  border-bottom: 0.1rem solid #999;
  font-size: 2rem;
  line-height: calc(33 / 20);
  color: $white;

  @include sp {
    line-height: 1.3;
  }
}

.p-plan-table__blank {
  height: 3rem;
  @include sp {
    height:0;
  }
}

.p-plan-table__head th
{
  width: 25%;
  vertical-align: bottom;
  padding-inline: 2rem;

  @include sp {
    padding-inline: 1rem;
  }
}

.p-plan-table__head th {
  padding: 0;

  .th-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    p {
      width: 100%;
      height: 5rem;
      padding-top: 0.5rem;
      background: #000;
      color: #fff;
      font-size: 2rem;
      line-height: calc(33 / 20);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include sp {
        height: 6.6rem;
        line-height: calc(25 / 20);
      }
    }
  }
  .is-recommend {
      
        height: auto;
    
  }
  .th-inner-red {
    p {
      height: 100%;
      background: $red;
      text-align: center;
      padding-block: 1rem 0.5rem;
       font-size: 2rem;
      line-height: calc(33 / 20);

      @include sp {
        height: 100%;
          line-height: 1.25;
           padding-block: 0.7rem;
      }

      span {
        font-size: 1.7rem;
        line-height: 1;
        // line-height: calc(33 / 17);
        @include sp {
          line-height: 1;
        }
        
      }
    }
  }
}


// 料金表本体
.p-plan-table__body {
   border-bottom: 0.1rem solid #999;
    font-size: 1.7rem;
    line-height: calc(25 / 17);
}

.p-plan-table__body tr {
  height: 8.5rem;
 
}

// 一段とばしの背景色
.p-plan-table__body tr:nth-child(even) {
  background-color: #50505026;
}

.p-plan-table__body th,
.p-plan-table__body td {
  width: 25%;
  vertical-align: middle;
  padding-inline: 2rem;

  @include sp {
    padding-inline: 1rem;
  }
}

.p-plan-table__body th {
  font-size: 1.7rem;
  line-height: calc(25 / 17);
  text-align: left;
  height: 8rem;
  vertical-align: middle;
 

  @include sp {
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    padding: 1rem 0.5rem 1rem 1rem;
   
  }
}
// 月額料金の太文字
.p-plan-table__head p {
  font-weight: 700;

}


// 料金プランの丸と線
.c-circle {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #000;

  &--red {
    background: $red;
  }
}



// 料金表のbodyの行の高さ

.p-plan-table__body td {
  text-align: center;
   vertical-align: middle;

  flex-shrink: 0;
  height: 8.5rem;
  // 料金表のbodyの縦の線 
  border-left: solid 0.1rem #999;

}

// 料金表の全体の赤字
.p-plan-table__body td .red {
  color: $red;
  white-space: nowrap;
}

// 料金表のハイフン
.p-plan-table__body td .hyphens {
  display: inline-block;
  width: 3rem;
  height: 0.1rem;
  background: rgb(112, 112, 112);
  vertical-align: middle;

}

.p-plan-table__price th{
  font-weight: 700;

}

.p-plan-table__price td {
  font-size: 2.2rem;
  line-height: calc(33 / 22);
font-weight: 700;
}

.p-plan-details__pricing-text {
  margin-top: 2.9rem;
  font-size: 1.7rem; 
  line-height: calc(25 / 17);

  @include sp {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}