@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-plan__pricing {
  padding: 6rem 0;
  
}


.p-plan__pricing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin: 4rem 0 6rem 0;
}

.p-plan__pricing-item {
  background-color: $red;
  color: $white;
  padding: 1.4rem 3rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: calc(33/20);

}

.p-plan__pricing-plus {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black;
  }

  &::before {
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    width: 3px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.p-plan__pricing-item-description {
  font-size: 1.8rem;
  line-height: calc(30/18);
  color: $black;
 
  margin: 0 auto;
  text-align: left;

  @include sp {
    font-size: 1.3rem;
    padding: 0 1.5rem;
  }
}



// p-plan__section
.p-plan__section{
  padding-top: 3rem;
  padding-bottom: 22rem;
}

.p-plan__section-table {
  border-collapse:  collapse; /* セルの線を重ねる */
  text-align: center;
  margin: 0 auto;
 
}

.p-plan__section-table tr:nth-child(even) {
  background-color:  rgba(112, 112, 112,0.15); 
}

.p-plan__section-table th,.p-plan__section-table td {
  padding: 5px 10px;         
}
.p-plan__section-table tr:last-child{
  border-bottom:solid 1px $black;
}
.p-plan__section-table tr:first-child{
  border-bottom:solid 1px $black ;
  font-size: 2rem; 
line-height: calc(33/20);
  background-color: $black;
  color: $white;
}
.p-plan__section-table tr:first-child th:first-child{
  background-color: $white;
}

.p-plan__section-table th{
  text-align: center;
  padding: 3.2rem 0 2.8rem 0;  
  width: 22rem; 

}
.p-plan__section-table th.is-recommend {
  background-color: $red;
  color: $white;
  font-size: 2rem;   
  line-height: calc(33/20);
  padding: 4rem 0 3.6rem 0; 
  position: relative;
}

.p-plan__section-table td{
  border-right:solid 1px $black;
  border-left:solid 1px $black;
}

.p-plan__section-table td:last-child {
  border-right: none;
}

.p-plan__section-table td span{
  color: $red;
}

.p-plan__pricing-text{
  margin-top:2.9rem ;
}