
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



// 関連記事
.p-related-posts {
    margin-top: 9.5rem;

    @include sp {
        margin-top: 6rem;
      
    }

}

.p-related-posts__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(33 / 18);
    background-color: $black;
    color: $white;
    padding: 0.8rem 3rem;

    @include sp {
        padding: 0.9rem 2rem;
        text-align: center;
    }
}

.p-related-posts__items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 3rem;

    @include sp {
        margin-top: 2rem;
        row-gap: 2rem;
    }

}

.p-related-posts__item {
    display: flex;
    // justify-content: space-between;
    column-gap: 3rem;

    @include sp {
        column-gap: 2rem;
    }
}

.p-related-posts__item:hover {
    opacity: 0.7;
}



.p-related-posts__thumbnail-label {
    min-width: 8rem;

 
}

.p-related-posts__eye-catch {
    aspect-ratio: 20 / 14;
    overflow: hidden;
    width: 100%;
    height: auto;

    @include sp {
        aspect-ratio: 16 / 11;
    }
}

.p-related-posts__eye-catch picture,
.p-related-posts__eye-catch img {
    width: 100%;
    height: 100%;
    display: block;
}

.p-related-posts__eye-catch img {
    object-fit: cover;
}

.p-related-posts__body {
    flex: 1;

    @include sp {
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        
    }
}

.p-related-posts__text {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
   

    @include sp {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; // 最大2行
        overflow: hidden;
        text-overflow: ellipsis;
        // max-height: calc(28 / 17 * 2);
       

    }
}

.p-related-posts__date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-left: 0.2rem;
    display: block;
 margin-top: 1.5rem;
 @include sp {
    margin-top: 0.4rem;
 }
   
}