@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;



// 関連記事
.p-related-posts {
    margin-top: 9.5rem;

    @include sp {
        margin-top: 6rem;

    }

}

.p-related-posts__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(33 / 18);
    background-color: $black;
    color: $white;
    padding: 0.8rem 3rem;

    @include sp {
        padding: 0.9rem 2rem;
        text-align: center;
    }
}

.p-related-posts__items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 3rem;

    @include sp {
        margin-top: 2rem;
        row-gap: 2rem;
    }

}

.p-related-posts__item {
    display: flex;
    // justify-content: space-between;
    column-gap: 3rem;
    align-items: flex-start;

    @include sp {
        column-gap: 2rem;
    }
}

.p-related-posts__item:hover {
    opacity: 0.7;
}






.p-related-posts__img {
    position: relative;
    width: 20rem;
    
    @include sp {
        width: 16rem;
    }

    img {
        aspect-ratio: 20 / 14;
        height: auto;
        display: block;
        object-fit: cover;

        @include sp {
            aspect-ratio: 16 / 11;

        }
    }
}

.p-related-posts__img-wide {
    width: 26rem;   

    @include sp {
        width: 16rem;     

    }

     img {
         aspect-ratio: 26 / 18.3;
        height: auto;
        display: block;
        object-fit: cover;

        @include sp {
              aspect-ratio: 16 / 11.3;

        }
    }

}

.p-related-posts__body {
    flex: 1;


    @include sp {
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;

    }
}

.p-related-posts__text {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; // 最大3行
    overflow: hidden;


    @include sp {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; // 最大2行
        overflow: hidden;
        text-overflow: ellipsis;
        // max-height: calc(28 / 17 * 2);


    }
}

.p-related-posts__date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-left: 0.4rem;
    display: block;
    margin-top: 1.5rem;

    @include sp {
        margin-top: 0.4rem;
    }

}