@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-sub__blog {
    padding-top: 5.6rem;
    padding-bottom: 9rem;
}

.p-sub-blog__list{
    margin-top: 3.1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 3rem;
    padding-bottom: 7rem;

    @include sp{
        position: static;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.p-sub-blog__item{
    position: relative;
}

.p-sub-blog__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    @include sp{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
}
.p-sub-blog__label{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    width: 8rem;
    height: 3rem;
    z-index: 1;
}
.p-sub-blog__label-text{
    height: 2.5rem;
    color: $white;     
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: calc(25/15);
    margin: 0;
}

.p-sub-blog__image{
    width: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sp{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }
}

.p-sub-blog__body {
    flex: 1;
    
}