@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-search{
    padding-top: 6.6rem;
    padding-bottom: 22rem;
}

.p-search__header{  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.p-search__results{
    margin-top: 3.1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 3rem;
    padding-bottom: 7rem;

    @include sp{
        position: static;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.p-search__item{
    position: relative;
}

.p-search-item__link{
    display: flex; 
    gap: calc(50 / 940 *100%);

    @include sp{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
}

.p-search-item__link-img{
    width: 30%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sp{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }
}
.p-search-item__link-label{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    width: 8rem;
    height: 3rem;
    z-index: 1;
}
.p-search-item__link-text{
    height: 2.5rem;
    color: $white;     
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: calc(25/15);
    margin: 0;
}



.p-search-item__link-body {
    flex: 1;    
}

.p-search-item__link-body-heading{
    font-size: 2rem;
    line-height: calc(25/20);
    font-weight: 700;
    margin-bottom:0.3rem ;
}

.p-search-item__link-body-date{
    display: block;
    font-size: 1.7rem;
    line-height: calc(30/17);
    
    margin-bottom:1.1rem ;
}