@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-voice {
    padding-top: 4.4rem;
    padding-bottom: 8rem;

    @include sp {
        padding-bottom: 5rem;
    }
}

.p-top-voice__inner {
    max-width: 98rem;
    margin-inline: auto;
    padding-inline: 5rem;

    @include sp {
        padding-inline: 2rem;
    }
}

.p-voice__container {
    position: relative;
    max-width: 88rem;
    margin-inline: auto;
    margin-top: 3.6rem;
    overflow: visible;

    @include sp {
        margin-top: 4.2rem;
    }
}


/* スライド（リンク全体） */
.p-voice-item {
    display: flex;
    flex-direction: column;
    //   row-gap: 1.7rem;
    text-decoration: none;
    /* 下線消す */
    color: inherit;
    /* 文字色継承 */
    transition: transform 0.3s ease, opacity 0.3s ease;



    &:hover {

        // cursor: default;
        .p-voice-item__img img {
            transform: scale(1.1);
        }

        .p-voice-item__body {
            opacity: 0.7;
        }
    }

}

/* 画像枠の比率固定：PC と SP で切り替え */
.p-voice-item__img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    aspect-ratio: 270 / 190;
    /* PC の既定比率 */
    overflow: hidden;

    @include sp {
        aspect-ratio: 335 / 200;
    }

    

    img {
        object-fit: cover;/* 伸び/歪み防止 */    
        transition: transform .6s ease;
        /* ゆっくり変化させる */

    }

}

.p-voice-item__body {
    color: $white;
    margin-top: 1.7rem;
    transition: opacity 0.3s ease;

    @include sp {
        margin-top: 2.5rem;
    }
}

.p-voice-item__title {
    font-size: 2.2rem;
    line-height: calc(33 / 22);
    font-weight: 700;
    text-align: center;

}

.p-voice-item__desc {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 1rem;
}



.p-voice__swiper-nav-wrap {
    position: relative;
    width: 100%;
    height: 0; // 高さ不要
}

/* === 矢印ボタン === */
.p-voice__swiper-button-prev,
.p-voice__swiper-button-next {
    position: absolute;
    top: 37%;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 20;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s ease;

    @include sp {
        top: 35%;
    }

    &:hover {
        opacity: 0.7;
    }
}

/* 矢印カスタマイズ */
.p-voice__swiper-button-prev {

    left: -4.5rem; // スライダーの左外側に配置

    @include sp {
        left: 0;
    }
}

.p-voice__swiper-button-next {
    right: -4.5rem; // スライダーの右外側に配置

    @include sp {
        right: 0;
    }
}