@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-top-blog{
    padding-top: 3.6rem;
    padding-bottom:22rem;
}
.p-top-blog__items {
    margin-top: 49px;
    display: flex;
    justify-content: space-between;    
    width: 100%;
    gap: calc(50 / 880 * 100%);
   
    @include sp {
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        margin-top: 44px;
    }
}

.p-top-blog__item{    
    position: relative;
    width: calc(260/880*100%);
    
    @include sp {
        width: 100%;
    }
}



.p-top-blog__body {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
  

    @include sp {
        margin-top: 30px;
        width: 100%;
    }
}

.p-top-blog_title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25/20);
    margin: 0;
    

    @include sp {
        line-height: calc(30/20);
        text-align: center;
    }
}

.p-top-blog__date {
    font-size: 1.7rem;
    line-height: calc(30/17);
    margin-top: 7px;
    text-align: right;
    margin-left: auto;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30/16);
        text-align: center;
        margin-top: 7px;
        margin-left: 0;
    }
}
