@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-vision {
  margin-block: 6.6rem;

}

.p-vision__content {
  margin-bottom: 3.5rem;
}

.p-vision__title {
  font-size: 3rem;
  line-height: calc(50/30);
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  color: $red;
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: calc(30/18);
  text-align: center;
  margin-top: 1.7rem;

}


.p-diagram {
  position: relative;
  margin: 0 auto;
  min-height: 247px;
  

  
}

.p-diagram__contents {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  z-index: 1;
  margin-top: 5rem;  
}

.p-diagram__arrow {
  position: absolute;
  left: 50%;
  top: 28px;
  transform: translateX(-50%);
  width: 3px;
  height: 190px;
  background: $red;
  z-index: 10;
  margin-top: 5rem;
 
  &::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: 0.3em solid $red;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top right;
    position: absolute;
    top: -0.05em;
    right: 50%;
    box-sizing: border-box;
    
  }
}
.p-diagram__row {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.p-diagram__en {
  color: $red;
  font-weight: 900;
  min-width: 145px;
  text-align: right;
  font-size: 2.5rem;
}
.p-diagram__dot {
  width: 24px;
  height: 24px;
  background: $red;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 2;
  border: 3px solid #fff;
}
.p-diagram__jp {
  color: #000;
  min-width: 145px;
  text-align: left;
  font-size: 2.3rem;
}