@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-fv {
    position: relative;
    width: 100%;
}
.p-fv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.5);
    z-index: 1;  
    mix-blend-mode: multiply;  
}

.p-fv__img {
    width: 100%;
    overflow: hidden;
}

.p-fv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.p-fv__contents-text {
    position: absolute;
   top: 52%;
  left: 50%; 
  transform: translate(-50%, -50%);   
    font-size: 4rem;
    font-weight: 700;
    line-height: calc(60 / 40);
    color: $white;
    text-align: center;   
    letter-spacing: -0.02em;
     z-index: 10;

    @include sp {
         top: 51.7%;
        width: 100%;
        font-size: 3rem;
        line-height: calc(50 / 30);

    }
}