
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-vision {
  padding-top: 6.6rem;
  padding-bottom: 5rem;

  @include sp {
    padding-top: 4.6rem;
    padding-bottom: 3.4rem;
  }
}


.p-vision__title {
  font-size: 3.5rem;
  line-height: calc(50 / 35);
  font-weight: 700;
  text-align: center;
  color: $red;
  letter-spacing: -0.02em;


  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);

  }
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  text-align: center;
  margin-top: 1.7rem;

  @include sp {
    text-align: left;
    margin-top: 0.7rem;
  }
}

.p-diagram {
  margin: 3.4rem auto 0;
  min-height: 24.7rem;


  @include sp {
    margin-top: 2rem;
  }
}

.p-diagram-img picture {
  display: block;

}

.p-diagram__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   row-gap: 1.7rem;
  z-index: 20;
  margin-top: 2.5rem;


  @include sp {
    margin-top: 3.4rem;

  }
}

.p-diagram__item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;

}

.p-diagram-item__en {
  color: $red;
  font-weight: 700;
  min-width: 14.5rem;
  text-align: right;
  font-size: 2.5rem;
  line-height: calc(50 / 25);
  text-transform: capitalize;

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}

.p-diagram-item__dot {
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: 50%;
  background-color: $red;

}

.p-diagram-item__dot span {
  display: block;
  width: 0.3rem;
  height: 19rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: $red;

  &::after {
    content: "";
    width: 3.2rem;
    height: 2.2rem;
    position: absolute;
    top: -0.2em;
    left: -0.77em;
    background: url('../images/vision/vector.svg') no-repeat center / 100%;
    
  }
}

.p-diagram-item__jp {
  color: #000;
  min-width: 14.5rem;
  text-align: left;
  font-size: 2.3rem;
  line-height: calc(50 / 23);

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}