
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-faq {
  padding-top: 5rem;
  padding-bottom: 3.5rem;

  @include sp {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }
}

.p-faq__container {
  margin-top: 3.2rem;

  @include sp {
    margin-top: 4.1rem;
  }
}

.p-faq__accordion {
  margin-inline: auto;
  max-width: 880px;
  position: relative;
  width: 100%;
}

.p-faq__item {
  border-bottom: 1px solid $black;

  &:first-of-type {
    border-top: 1px solid $black;
  }
}
.p-faq-item__img{
   width: 1.36rem;
      transition: transform 0.4s;
      &.is-active {
        transform: rotate(180deg);
      }
}

.p-faq__question {
  display: flex;
  align-items: center;
  padding: 1.5rem 2.9rem 1.5rem 2rem;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  column-gap: 1rem;
  color: $black;
  cursor: pointer;
  position: relative;
  font-weight: 500;

  @include sp {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    padding: 1.3rem 0;
    padding-right: 1.5rem;
    padding-bottom: 1.2rem;
  }
}


.p-faq__question-q-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: $black;
  color: $white;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
  flex-shrink: 0;
}

.p-faq__text {
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  flex: 1;
}

.p-faq__answer-bg {
  display: flex;
  align-items: center;
  padding: 1.5rem 2.9rem 1.5rem 2rem;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  column-gap: 1rem;
  color: $red;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  background-color: rgba(203, 0, 0, 0.1);

  @include sp {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    padding: 1.3rem 0 1.2rem 0;
    padding-right: 1.5rem;
  }
}

.p-faq__answer-a-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: $red;
  color: $white;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;  
  flex-shrink: 0;
}

.p-faq__answer p {
  color: $red;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  font-weight: 700;

  @include sp {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }

}