@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-vision {
  padding-top: 6.6rem;
  padding-bottom: 5rem;

  @include sp {
    padding-top: 4.6rem;
    padding-bottom: 2.9rem;
  }
}


.p-vision__contents {
  margin-bottom: 3.5rem;

  @include sp {
    margin-bottom: 2rem;
  }
}

.p-vision__title {
  font-size: 3.5rem;
  line-height: calc(50 / 35);
  font-weight: 700;
  text-align: center;
  color: $red;
  margin-bottom: 1.7rem;
  letter-spacing: -0.02em;


  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    margin-bottom: 0.7rem;
  }
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  text-align: center;

  @include sp {
    text-align: left;
  }
}

.p-diagram {
  
  margin: 0 auto;
  min-height: 24.7rem;
}

.p-diagram-img picture {
  display: block;
   
}

.p-diagram__items {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
  z-index: 20;  
  margin-top: 2.5rem;

  
  @include sp {
      margin-top: 3.9rem;
    
  } 
}

.p-diagram__item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
 
}

.p-diagram__en {
  color: $red;
  font-weight: 700;
  min-width: 14.5rem;
  text-align: right;
  font-size: 2.5rem;
  line-height: calc(50 / 25);
 text-transform: capitalize;

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}

.p-diagram__dot {
 width: 2rem;
      height: 2rem;
      position: relative;
      border-radius: 50%;
      background-color: $red;

}

.p-diagram__dot span {
  display: block;
  width: 0.3rem;
  height: 19rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: $red;

  &::after {
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: -0.2rem;
    left: 0.15rem;
    border: 0.3rem solid;
    border-color: $red transparent transparent $red;
    transform-origin: left top;
    transform: rotate(45deg);
  }
}

.p-diagram__jp {
  color: #000;
  min-width: 14.5rem;
  text-align: left;
  font-size: 2.3rem;
  line-height: calc(50 / 23);

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}