@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-top-blog{
    padding-top: 3.5rem;
    padding-bottom:21rem;
    @include sp {
       
        padding-bottom: 4.5rem;
    }
}
.p-top-blog__items {
    margin-top: 3.3rem;
    display: flex;
    // justify-content: space-between;    
    width: 100%;
    gap: calc(50 / 880 * 100%);
   
    @include sp {
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        margin-top: 4rem;
    }
}

.p-top-blog__item{    
    position: relative;
    width: calc(260/880*100%);
    cursor: pointer;
    @include sp {
        width: 100%;
    }
}



.p-top-blog__body {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
  

    @include sp {
        margin-top: 30px;
        width: 100%;
    }
}

.p-top-blog__title{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25/20);    
    margin: 0;
    display: -webkit-box; 
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden; 

    @include sp {
        line-height: calc(30/20);
        text-align: center;
    }
}

.p-top-blog__date {
    font-size: 1.7rem;
    line-height: calc(30/17);   
    text-align: right;
    margin-left: auto;
    margin-top: 1rem;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30/16);
        text-align: center;
        margin-top: 7px;
        margin-left: 0;
    }
}
.p-top-blog__more-link{
    margin-top: 3.8rem;
    text-align: right;
}
