@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-voice {
    padding-top: 4.4rem;
    padding-bottom: 8rem;

    @include sp {
        padding-top: 4.4rem;
        padding-bottom: 5rem;
    }
}

.p-voice__inner {
    max-width: 980px;
    margin-inline: auto;
    padding-inline: 50px;

    @include sp {
        padding-inline: 20px;
    }

}

.p-voice__title {
    color: $white ;
}

.p-voice__container {
    position: relative;
    max-width: 880px;
    margin-inline: auto;
    margin-top: 3.6rem;
    // overflow: visible;


    @include sp {
        margin-top: 4rem;
       
    }
}

// .p-top-voice__swiper {
//     max-width: 880px;
// }

.p-voice__item {
    text-align: center;
    transition: transform 0.3s ease;
    display: flex !important;
    flex-direction: column;
    row-gap: 1.7rem;

    @include sp {
        row-gap: 2.5rem;
    }


    &:hover {
        transform: translateY(-0.5rem);
    }
}

.p-voice-item__card {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;

    @include sp {
        aspect-ratio: 335 / 200;
    }

}

.p-voice-item__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-voice-card__body {
    color: $white;
}

.p-voice-card__title {
    font-size: 2.2rem;
    line-height: calc(33/22);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;

    @include sp {}
}

.p-voice-card__desc {
    font-size: 1.8rem;
    line-height: calc(30/18);
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;


}

.p-voice__swiper-nav-wrap {
    position: relative;
    width: 100%;
    height: 0; // 高さ不要
}

.p-voice__swiper-button-prev,
.p-voice__swiper-button-next {
    position: absolute;
    top: 37%;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 20;

    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;

    @include sp {
        top: 35%;
    }
}

/* 矢印カスタマイズ */
.p-voice__swiper-button-prev {

    left: -4.5rem; // スライダーの左外側に配置
    @include sp {
        left:0;
    }
}

.p-voice__swiper-button-next {
    right: -4.5rem; // スライダーの右外側に配置
 @include sp {
        right:0;
    }
}