@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-fab {
  position: fixed;
  right: 0;
  bottom: var(--fab-bottom, 2rem); // JSでここだけ更新
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  @include sp {
    left: 0; // 追加
    right: 0; // 追加（全幅）
    width: 100%; // 追加    

  }
}

.c-fab.is-change {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: none;

  &:hover {
    opacity: .9;
  }
}


.p-top-btn__arrow,
.p-top-btn__contact {
  position: relative;

}

/* トップへ：丸ボタン */
.p-top-btn__arrow {
  height: 6.8rem;
  width: 6.8rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
  pointer-events: auto;

  transition: opacity 0.3s ease-in-out;

  img {
    display: block;
    width: 28px;
    height: 28px;
  }

  &:hover {
    opacity: .85;
  }

  @include sp {
    position: absolute; // ★親(.c-fab)基準で固定
    right: 2rem; // 右寄せ
    bottom: 8rem; // コンテナの下端に合わせる

  }
}

.p-top-btn__contact {
  bottom: 0;
  right: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  display: grid;
  place-content: center;
  border: 0.1rem solid $red;
  font-weight: 700;
  width: 30rem;
  height: 6rem;
  text-decoration: none;
  font-size: 2rem;
  line-height: calc(33 / 20);
  letter-spacing: 0.3rem;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;

  @include sp {
    width: 33.5rem;
    margin: 0 auto;

  }

}


/* contact ページ専用：矢印だけをきれいに配置 */
.c-fab--contact {
  right: 1rem;
  /* 必要なら微調整 */
  gap: 0;
  /* 矢印だけなので隙間不要なら 0 に */
}

.c-fab--contact .p-top-btn__contact {
  display: none !important;
}

.p-top-btn__arrow--contact {
  @include sp {
    right: 2.8rem;
    bottom: 2rem; // コンテナの下端に合わせる

  }
}