@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-faq{
  padding-top: 5rem;
  padding-bottom: 3.5rem;
}

.p-top-faq__container__accordion {
    margin-inline: auto;
    margin-top: 3.2rem;
    max-width: 880px;
    position: relative;
    width: 100%;
  }
  .p-top-faq-accordion__title {
    color: $black;
    cursor: pointer;
    font-size: 1.7rem;
    line-height: calc(30/17);
    padding: 2rem 2rem 1rem 2rem;
  }

  .p-top-faq-accordion__details {
    border-bottom: 1px solid $black;
  }
  .p-top-faq-accordion__details:nth-of-type(1){
    border-top: 1px solid $black;
  }

  .p-top-faq-accordion__content {
    background-color:rgba(203, 0, 0,0.1) ;
    display: none;
    padding: 2rem 2rem 1rem 2rem;
  }
  .p-top-faq-accordion__content p{
    color: $red;
    font-size: 1.7rem;
    line-height: calc(30/17);
    font-weight: 700;
   
  }
  /* 矢印 */
  .p-top-faq-accordion__title {
    position: relative;
  }
  .p-top-faq-accordion__title::after {
    border-right: solid 2px $black;
    border-top: solid 2px $black;
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    right: 3rem;
    top: 45%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    
  }
  .p-top-faq-accordion__title.open::after {
    top: 45%;
    transform: rotate(-45deg);
  }
  
.p-top-faq-accordion-q {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: $black;
  color: $white;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.8rem;
  font-family: inherit;
  flex-shrink: 0;
}

.p-top-faq-accordion-a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    background:$red;
    color: $white;
    border-radius: 50%;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 0.8rem;
    font-family: inherit;
    flex-shrink: 0;
  }
  