@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


.p-top-blog {
    padding-top: 3.5rem;
    padding-bottom: 20.2rem;

    @include sp {
         padding-top: 3rem;
        padding-bottom: 19rem;
    }
}

.p-top-blog__items {
    margin-top: 3.3rem;
      display: grid;
  grid-template-columns: repeat(3, 1fr);
    // justify-content: space-between;    
    width: 100%;
    gap: calc(50 / 880 * 100%);

    @include sp {
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        margin-top: 4rem;
    }
}

.p-top-blog__item {
    position: relative;
    width: 100%;
    cursor: pointer;

    @include sp {
        width: 100%;
    }
}



.p-top-blog__body {
    margin-top: 19px;
    display: flex;
    flex-direction: column;


    @include sp {
        margin-top: 30px;
        width: 100%;
    }
}

.p-top-blog__title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include sp {
        line-height: calc(30 / 20);

    }
}

.p-top-blog__date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    text-align: right;
    margin-left: auto;
    margin-top: 1.1rem;

    @include sp {

        margin-top: 0.7rem;
        margin-left: 0;
    }
}

.p-top-blog__more-link {
    margin-top: 4.2rem;
    text-align: right;
    

    @include sp {
        text-align: center;
    }
}

.p-top-blog__more {
    padding: 0.5rem 0 ;
    text-decoration-line: underline;
    text-decoration-color: $black;
    text-decoration-thickness: 1px;
    color: $black;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
     
    transition: all .3s ease;

    &:hover {
        text-decoration: none;
        background: $red;
        color: $white;
    }

}