@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-ad{    
    color: $white;
    padding-top: 6rem;
    padding-bottom: 7rem;
    text-align: center;
}

.p-ad__title{
    font-size: 2.4rem;
    line-height: calc(50/24);
    font-weight: 900;
    margin-bottom: 3rem;
}

.p-ad__text{
    font-size: 1.8rem;
    line-height: calc(30/18);
}