@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-vision {
  padding-top: 6.6rem;
  padding-bottom: 5.7rem;

  @include sp {
    padding-top: 4.6rem;
    padding-bottom: 3.4rem;
  }
}


.p-vision__title {
  font-size: 3.5rem;
  line-height: calc(50 / 35);
  font-weight: 700;
  text-align: center;
  color: $red;
  letter-spacing: -0.02em;


  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);

  }
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  text-align: center;
  margin-top: 1.7rem;

  @include sp {
    text-align: left;
    margin-top: 0.7rem;
  }
}

.p-diagram {
  margin: 3.4rem auto 0;
  // max-height: 24.7rem;


  @include sp {
    margin-top: 2rem;
  }
}



.p-diagram__items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.7rem;
  z-index: 20;
  margin-top: 2rem;


  @include sp {
    margin-top: 3.3rem;
    row-gap: 1.77rem;

  }
}

.p-diagram-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  width: 100%;


}

.p-diagram-item__en {
  color: $red;
  font-weight: 700;
  min-width: 14.5rem;
  text-align: right;
  font-size: 2.5rem;
  line-height: calc(50 / 25);
  text-transform: capitalize;

  @include sp {
    min-width: 11.5rem;
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}

.p-diagram-item__dot {
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: 50%;
  background-color: $red;

}

.p-diagram-item__dot span {
  display: block;
  width: 0.3rem;
  height: 18.9rem;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background: $red;

  @include sp {

    height: 18rem;

  }

  &::after {
    content: "";
    width: 3.8rem;
    height: 4rem;
    position: absolute;
    top: -1.2rem;    
    left: 50%;
    transform: translateX(-50%);
    background: url('../images/vision/vector.svg') no-repeat center / 100%;

    @include sp {
      width: 3.052rem;
      height: 1.7rem;
      top: -0.3rem;
    }
  }

}

.p-diagram-item__jp {
  color: #000;
  min-width: 14.5rem;
  text-align: left;
  font-size: 2.3rem;
  line-height: calc(50 / 23);

  @include sp {
    min-width: 11.5rem;
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}