@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-fv {
    position: relative;
    // padding-top: 8rem;
}

.p-fv__img {
    width: 100%;
    overflow: hidden;
}

.p-fv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.p-fv__contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;


}

.p-fv__contents-text {
    font-size: 4rem;
    font-weight: 700;
    line-height: calc(60/40);
    color: $white;
    text-align: center;
   padding-top: vw(20, 1080);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    @include sp {
        font-size: 3rem;
        line-height: calc(50 /30);

    }
}