@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;


// 固定ボタンエリア


.p-top-btn {
  width: 30rem;
  height: 100%;
  position: absolute;  
  display: none;
  top: 0;
  right: 0;
  z-index: 100;
  // position: fixed;
  // right: 0;
  // bottom: 0;         /* 基本位置 */
  // width: 30rem;
  // height: auto;         /* 100%をやめる */
  // z-index: 1000;
  display: none;        /* 表示/非表示は既存のjQueryで */
  pointer-events: auto; /* クリック無効をやめる */


  @include sp {
    width: 33.5rem;
    // width: 100%;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    // bottom: 2rem;
  }
}

.p-top-btn__bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  position: sticky;
  // position: static;
  top: calc(100% - 15.8rem);

  @include sp {
    row-gap: 2rem;
    align-items: flex-end;
    top: calc(100% - 14.8rem);
  }
}


/* トップへ：丸ボタン */
.p-top-btn__arrow {
  height: 6.8rem;
  width: 6.8rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
  pointer-events: auto;

  @include sp {
   margin-right: 2rem;
  }
  img {
    width: 2.3rem;
  }
}

.p-top-btn__contact {
 
  display: grid;
  place-content: center;
  border: 0.1rem solid $red;
  font-weight: 700;
  width: 30rem;
  height: 6rem;
  text-decoration: none;
  font-size: 2rem;
  line-height: calc(33 / 20);
  letter-spacing: 0.2rem;
  pointer-events: all;
  cursor: pointer;

  background-color: $red;
  color: $white;
  
  transition: all .4s ease-in-out;

  @include sp {
    width: 33.5rem;
    margin: 0 auto;
  }

  
  &:hover {
    background-color: $white;
    color: $red;
   
  }
}


/* contact ページ専用：矢印だけをきれいに配置 */
.c-fab--contact {
  right: 1rem;
  /* 必要なら微調整 */
  gap: 0;
  /* 矢印だけなので隙間不要なら 0 に */
}

.c-fab--contact .p-top-btn__contact {
  display: none !important;
}

.p-top-btn__arrow--contact {
  @include sp {
    right: 2.8rem;
    bottom: 2rem; // コンテナの下端に合わせる

  }
}