@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-fv {
    position: relative;
    width: 100%;
}
.p-fv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.5);
    z-index: 1;  
    mix-blend-mode: multiply;  
}

.p-fv__img {
    width: 100%;
    overflow: hidden;
}

.p-fv__img img {   
    object-fit: cover;
    
}


/* overlayコンテナ */
.p-fv__contents {
  position: absolute; /* オーバーレイにする */
  inset: 0; /* 画像全体を覆う */
  display: flex;
  align-items: center;   
  justify-content: center; 
  z-index: 2; /* overlayより上 */
  text-align: center;
  padding-inline: 2rem; 

  @include sp {
    padding-inline: 1rem;
  }
}

.p-fv__contents-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: calc(60 / 40);
  color: $white;
  letter-spacing: -0.03em;
  margin-top: 2rem;

  @include sp {
    font-size: 3rem;
    line-height: calc(50 / 30);
  }
}