
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-message {
    color: $white;
    padding-top: 6.8rem;
    padding-bottom: 6rem;
    text-align: center;

    @include sp {
        padding-top: 4.9rem;
        padding-bottom: 4rem;
    }
}


.p-message__title span {
    letter-spacing: -0.01em;
}

.p-message__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    margin-top: 3rem;

    @include sp {
        margin-top: 1.4rem;
    }
}