@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-ad{    
    color: $white;
    padding-top: 7rem;
    padding-bottom: 6rem;
    text-align: center;
    @include sp{
        padding-top: 4.9rem;
        padding-bottom: 4rem;
    }
}

.p-ad__title{
    font-size: 3rem;
    line-height: calc(50 / 30);
    font-weight: 700;
    margin-bottom: 3rem;
    letter-spacing: 0;
    @include sp{
        font-size: 2.5rem;
        line-height: calc(40 / 25);
         margin-bottom: 1.4rem;
    }
}
.p-ad__title span{
   letter-spacing: -0.01em;
}

.p-ad__text{
    font-size: 1.8rem;
    line-height: calc(30 / 18);
}