@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-flow {
    padding-top: 3.6rem;
    padding-bottom: 5.3rem;

    @include sp {
        padding-top: 4.6rem;
          padding-bottom: 1.3rem;
    }

}


.p-top-flow__items {
    margin-top: 5.3rem;
    max-width: 780px;
    margin-inline: auto;
    list-style: none;
    padding: 0;
    position: relative;

    @include sp {
        max-width: 100%;
        margin-top: 4.3rem;

    }

    // 縦の線
    &::before {
        content: "";
        position: absolute;
        top: 1rem; // 少し上から
        bottom: -1.1rem; // 少し下まで
        left: 1rem; // 丸の中心に合わせる        
        width: 3px;
        border-left: 3px solid $red;

        @include sp {
            left: 1.8rem;
            bottom: 1rem;
        }
    }
    // 矢印
    &::after {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 0; /* レールの終端に合わせる（beforeのbottomと整合を） */
    width: 24px;
    height: 24px;
    /* ボーダーで矢印（┘）を作る */
    border-bottom: 3px solid $red;
    border-right: 3px solid $red;
    border-radius: 10%;
    /* レール中心に合わせてY方向は少し外側へ */
    transform: translate(-50%, 50%) rotate(45deg);
     @include sp {
            left: 2rem;           
            bottom: 2.5rem;
        
        }
  }

}

.p-flow__item{
    display: flex;
    margin-bottom: 5.8rem;

    @include sp {
        flex-direction: column;
        row-gap: 1.4rem;
        margin-bottom: 4.2rem;
    }


    &:last-child {
        margin-bottom: 0;
    }

}


.p-flow-item__label {
    width: 26.2rem;
    float: left;
    padding-left: 7rem;
    position: relative;
    // border-left: 3px $red solid;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(33/22);
    color: $red;


    @include sp {
        padding-left: 5rem;
        line-height: 1;
    }

    // 丸
    &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        background: $red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;


        @include sp {
            left: 10px;
        }
    }
}

// // 矢印
// .p-top-flow-item:last-child .p-top-flow-item__label::after {
//     content: "";
//     position: absolute;
//     bottom: -1rem; // 丸の下に表示
//     left: 0;
//     transform: translateX(-50%); 
//     width: 24px;
//     height: 24px;
//     border-radius: 10%;
//     border-bottom: 3px solid $red;
//     border-right: 3px solid $red;
//     transform: rotate(45deg);

//     @include sp {
//         left: 0.9rem;
//         bottom: -12rem; 
//     }
// }

.p-flow-item__desc {
    font-size: 1.8rem;
    line-height: calc(30/18);
    margin: 0;
    flex: 1;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30/16);
        padding-left: 5rem;
    }

}