@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-reason {
    padding-top: 6.2rem;
    padding-bottom: 9rem;

    @include sp {
        padding-top: 5rem;
        padding-bottom: 4rem;
    }
}

.p-top-reason__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(50 / 30);

    @include sp {
        font-size: 2.5rem;
    }
}

.p-top-reason__items {
    margin-top: 3.1rem;
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;

    @include sp {
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        gap: 4.1rem;
        
    }
}

.p-top-reason__item {
    display: flex;
    // justify-content: center;
    
    

    @include sp {
        flex-direction: column;
        // gap: 2.5rem;        
       margin: 0;
    }
}

.p-top-reason__image {
    display: block;
    width: calc(350 / 880 *100%);
    flex-shrink: 0;
    overflow: hidden;
    aspect-ratio: 350 / 247;

    @include sp {
        width: 100%;
         aspect-ratio: 335 / 200;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;

        
    }
}

.p-top-reason__content {
    flex: 1;
@include sp {
    margin-top: 3rem;
}
}

.p-top-reason__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
    text-align: left;
    padding-left: 5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $red;
    

    @include sp {
        padding-left: 0;
        padding-bottom: 0.7rem;
        text-align: left;
        font-size: 2rem;
        line-height: calc(30 / 20);
    }
}



.p-top-reason__text {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    text-align: left;
    display: block;
    padding-top: 3.7rem;
    padding-left: 5rem;

    @include sp {
        padding-left: 0;
        text-align: left;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        padding-top: 1.7rem;
    }
}