@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-top-voice {
    padding-top: 4.4rem;
    padding-bottom: 8rem;

    @include sp {
        padding-top: 4.4rem;
        padding-bottom: 5rem;
    }
}

.p-voice__inner {
    max-width: 980px;
    margin-inline: auto;
    padding-inline: 5rem;

    @include sp {
        padding-inline: 2rem;
    }

}

.p-voice__title {
    color: $white ;
}

.p-voice__container {
    position: relative;
    max-width: 880px;
    margin-inline: auto;
    margin-top: 3.6rem;
    overflow: visible;

    @include sp {
        margin-top: 4.2rem;
    }
}

/* スライド（リンク全体） */
.p-voice__item {
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;

    @include sp {
        row-gap: 2.5rem;
    }

   
}

/* 画像枠の比率固定：PC と SP で切り替え */
.p-voice-item__card {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    aspect-ratio: 270 / 190;
    /* PC の既定比率 */

    @include sp {
        aspect-ratio: 335 / 200;
    }

    picture,
    img {
        display: block;
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;/* 伸び/歪み防止 */
    }
   
}

.p-voice-card__body {
    color: $white;
    margin-top: 1.7rem;
    @include sp {
        margin-top: 2.5rem;
    }
}

.p-voice-card__title {
    font-size: 2.2rem;
    line-height: calc(33 / 22);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;

   
}

.p-voice-card__desc {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}



.p-voice__swiper-nav-wrap {
    position: relative;
    width: 100%;
    height: 0; // 高さ不要
}

/* === 矢印ボタン === */
.p-voice__swiper-button-prev,
.p-voice__swiper-button-next {
    position: absolute;
    top: 37%;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 20;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;

    @include sp {
        top: 35%;
    }
}

/* 矢印カスタマイズ */
.p-voice__swiper-button-prev {

    left: -4.5rem; // スライダーの左外側に配置

    @include sp {
        left: 0;
    }
}

.p-voice__swiper-button-next {
    right: -4.5rem; // スライダーの右外側に配置

    @include sp {
        right: 0;
    }
}