@charset "UTF-8";
@use "../../foundation/base" as *;
@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-vision {
padding-top: 6.6rem;
padding-bottom: 7.5rem;
@include sp{
  padding-top: 4.6rem;
  padding-bottom: 4.9rem;
}
}

.p-vision__content {
  margin-bottom: 3.5rem;
  @include sp{
    margin-bottom: 2rem;
  }
}

.p-vision__title {
  font-size: 3.5rem;
  line-height: calc(50/35);
  font-weight: 700;  
  text-align: center;
  color: $red;
  margin-bottom: 1.7rem;
  @include sp{
    font-size:  2.5rem;
    line-height: calc(40/25);
    margin-bottom: 0.7rem;
  }
}

.p-vision__subtitle {
  font-size: 1.8rem;
  line-height: calc(30/18);
  text-align: center;
 @include sp{
   text-align: left;
 }

}


.p-diagram {
  position: relative;
  margin: 0 auto;
  min-height: 247px;
  

  
}

.p-diagram__contents {
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  z-index: 1;
  margin-top: 4.1rem;  
  @include sp{
    margin-top: 3.5rem;
  }
}

.p-diagram__arrow {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 19rem;
  background: $red;
  z-index: 10;
  margin-top: 5.7rem;

  @include sp{
    margin-top: 4.7rem;
  }

  &::before {
    content: '';
    width: 1.4em;
    height: 1.4em;
    border: 3px solid $red;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top right;
    position: absolute;   
    top:0;
    right: 50%;
    box-sizing: border-box;
    
  }
}
.p-diagram__row {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.p-diagram__en {
  color: $red;
  font-weight: 700;
  min-width: 145px;
  text-align: right;
  font-size: 2.5rem;
  line-height: calc(50 / 25);
  @include sp{
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}
.p-diagram__dot {
  width: 24px;
  height: 24px;
  background: $red;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 2;
  border: 3px solid #fff;
}
.p-diagram__jp {
  color: #000;
  min-width: 145px;
  text-align: left;
  font-size: 2.3rem;
  line-height: calc(50 / 23);
  @include sp{
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}