@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;


footer {
    background-color: $red;
    text-align: center;
    padding-top: 4.4rem;
    padding-bottom: 5rem;    
  transition: all 0.3s ease;
    @include sp {
      padding-top: 45px;
     
    }
  }
  

  
  .footer-nav__lists {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    column-gap: calc(34 /880 *100vh);    
    
    width: 100%;
    padding-top: 28px;
    color: $white;
  
    @include sp {
      flex-wrap: wrap;
      column-gap: 20px;
      padding-top: 22px;
    }
  }
  
  .footer-nav__list {
    list-style: none;
  
  }
  
  .footer-nav__link {
    color: $white;
    font-size: 1.7rem;
    line-height: calc(33/17);
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    height: inherit;
    padding:5px;
  
    &:hover {
      opacity: 0.4;
    }
  }
    
  .footer-logo { 
    margin-top: 2rem;   
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    padding: 5px;
 
  
  
    @include sp {
      margin-bottom: 15px;
    }
  
    &:hover {
      opacity: 0.4;
    }
  }
  .footer-logo img{
    width: 3.2rem; 
    margin: 0 auto;
  }

  .footer__copyright {
    background-color: var(--main-color); 
    color: #fff;
    font-size: 2rem;
    padding-block: 1rem;
    line-height: calc(33/20);  
    display: block;
    text-align: center;  
    @include sp {
      padding-block: 20px;
      padding-inline: 30px;
      line-height: calc(25/20);
      margin-top: 48px;
    }  
    @media screen and (max-width:374px) {
      font-size: 1.4rem;
  
    }
  }
  
  .footer__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(12/880 *110vh);
    margin-top:0.3rem ;
    
  
    @include sp {
      margin-top: 24px;
    }
  }
  
  .sns__link {
    display: block;
    list-style: none;
    line-height: 0;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      opacity: 0.4;
    }
  }
  
  