@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;


#header{
    position: fixed;
    top: -100px;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
    transition: all 0.3s ease;
    &.scroll-nav {
        top: 0; // スクロール後：上に表示
        background-color: var(--main-color);
        ;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

       
      }
    
}
.l-header{
    height: 8rem;
   padding-inline: 3rem;
   margin: 0 auto;
     @include sp{
        height: 5rem ;
        padding-left:2rem;
        padding-right: 0;
     } 
}