@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;


footer {
    background-color: $red;
    text-align: center;
    padding-top: 4.4rem;
    padding-bottom: 5rem;    
  transition: all 0.3s ease;
    @include sp {
      padding-top: 45px;
     
    }
  }
  

  
  .footer-nav__lists {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    column-gap: calc(34 /880 *100vh);      
    width: 100%; 
    color: $white;
  
    @include sp {
      flex-wrap: wrap;
      column-gap: 20px;
      padding-top: 22px;
    }
  }
  
  .footer-nav__list {
    list-style: none;
        cursor: pointer;
  }
  
  .footer-nav__link {
    color: $white;
    font-size: 1.7rem;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    height: inherit;
    padding:5px;
  
    &:hover {
      opacity: 0.4;
    }
  }
    
  .footer-logo {    
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
     width: auto;
  height: auto;
    padding: 5px;
    display: inline-block;
  text-align: center;
  cursor: pointer;
  
  
    @include sp {
      margin-bottom: 15px;
    }
  
    &:hover {
      opacity: 0.4;
    }
  }
 
  .footer-logo img {   
    width: 3.2rem; 
   height: auto;
  display: block;
  }

  .footer__copyright {
    background-color: var(--main-color); 
    color: #fff;
    font-size: 1.5rem; 
    line-height: 1;  
    display: block;
    text-align: center; 
 
    @include sp {
      padding-block: 2rem;
      padding-inline: 3rem;
      line-height: calc(25/20);
      margin-top: 4.8rem;
    }  
    @media screen and (max-width:374px) {
      font-size: 1.4rem;
  
    }
  }
  
  .footer__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:2px;
   
    
  
    @include sp {
      margin-top: 2.4rem;
    }
  }
  
  .sns__link {
    display: block;
    list-style: none;
    line-height: 1;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      opacity: 0.4;
    }
  }
  
  