@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;


footer {
    background-color: $red;
    text-align: center;
    padding-top: 4.5rem;
    padding-bottom: 5rem;    
  transition: all 0.3s ease;
    @include sp {
      padding-top: 2.5rem;
     
    }
  }
  