@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;


.l-header{
  position: fixed;
				  top: 0;
				  left: 0;
				  width: 100%;
				  z-index: 777;
   
   
}
.l-header.scroll-nav{
  top: 0; // スクロール後：上に表示
  background-color: $white;
  ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}