@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;




.l-inner {
    max-width: 94rem;
    margin-inline: auto;
    padding-inline: 3rem;
    @include sp{
      // max-width: 33.5rem;
      padding-inline: 2rem;
    }
  
  }