@charset "UTF-8";
@use "../foundation/base" as *;
@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;




.l-inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
    @include sp{
      padding-inline: 20px;
    }
  
  }