@charset "UTF-8";
@use './reset' as*;
@use './variable' as * ;
@use './mixin' as *;

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
  word-break: break-all;

    //375px~767px
    font-size: 62.5%;
      

    //768~940（inner）
    @media(min-width: 768px) and (max-width: 940px){
      font-size: calc(10 / 940 * 100vw);
    }
    
    //940px~
    @media (min-width: 940px) {
      font-size: 10px;
    }
    @media(max-width:375px) {
      font-size: calc(10 /375 * 100vw);
    }
}
body {
   font-family: $font-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
}
input,
textarea {
  line-height: 1;
  letter-spacing: 0;
}



p,
span,
a,
li,
dt,
dd,
label,
h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  letter-spacing: inherit;
}

main {
  padding-top: hvw(80); // headerの高さ8rem; // headerの高さ分のpadding-topを追加
  
  @include sp {
    padding-top: 5rem; // スマホではheaderの高さ(5rem)分
  }
}
#container {
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}


.u-br {
  display: inline-block;
}

.section-bg{
  background-color: $red;
}
.gray-bg{
  background-color: #E8E8E8;
}


/*---------レスポンシブル---------*/
// 画面幅が 767px以下（PC） のときだけ非表示
.pc {
  @include sp {
    display: none !important;
  }
}

// 画面幅が 768px以上（PC） のときだけ非表示
.sp {
  @include pc {
    display: none !important;
  }
}

