@charset "UTF-8";
@use './reset' as*;
@use './variable' as * ;
@use './mixin' as *;

:root {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000;
}

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
  word-break: break-all;
  font-size: 62.5%;
    
    //768~inner
    @media(min-width: 768px) and (max-width: 1160px){
      font-size: calc(10 / 1160 * 100vw);
    }
    
    
    @media(max-width:375px) {
      font-size: calc(10 /375 * 100vw);
    }
}
body {
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

main {
  padding-top: 8rem; // headerの高さ分のpadding-topを追加
  
  @include sp {
    padding-top: 5rem; // スマホではheaderの高さ(5rem)分
  }
}
#container {
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 940px;
  margin-inline: auto;
  padding-inline: 30px;
  @include sp{
    padding-inline: 20px;
  }

}
.span-br {
  display: inline-block;
}

.section-bg{
  background-color: $red;
}
.gray-bg{
  background-color: #E8E8E8;
}


/*---------レスポンシブル---------*/
// 画面幅が 767px以下（PC） のときだけ非表示
.pc {
  @include sp {
    display: none !important;
  }
}

// 画面幅が 768px以上（PC） のときだけ非表示
.sp {
  @include pc {
    display: none !important;
  }
}