@charset "UTF-8";
@use './reset' as*;
@use './variable' as *;
@use './mixin' as *;


* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
 
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
  word-break: break-all;


  //375px~767px
  font-size: 62.5%;


  //768~940（inner）
  @media(min-width: 768px) and (max-width: 940px) {
    font-size: calc(10 / 940 * 100vw);
  }

  //940px~
  @media (min-width: 940px) {
    font-size: 10px;
  }

  @media(max-width:375px) {
    font-size: calc(10 /375 * 100vw);
  }
}

body {
  font-family:$font-gothic;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing:0;

}


input,
textarea {
  line-height: 1;
  letter-spacing: 0;
}



main {
  position: relative;  
   margin-top: 8rem;
   flex: 1;
@include sp {
  margin-top: 5rem;
}
}

#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  outline: none;
  /* すべて消す */
  -webkit-tap-highlight-color: transparent;
}

a:focus:not(:focus-visible) {
  outline: none;

  a:active {
    background-color: transparent;
    /* 押下時の色変化を打ち消す */
  }

  /* マウスクリック時は消す */
}

a,
button,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 0.1rem;
  margin: 0;
  clear: both;
  color: inherit;
}

.u-br {
  display: inline-block;
}

.section-bg {
  background-color: $red;
}

.gray-bg {
  background-color: #E8E8E8;
}

.u-flex {
  display: flex !important;
}


/*---------レスポンシブル---------*/
// 画面幅が 767px以下（PC） のときだけ非表示
.pc {
  @include sp {
    display: none !important;
  }
}

// 画面幅が 768px以上（PC） のときだけ非表示
.sp {
  @include pc {
    display: none !important;
  }
}

