// font
$font-gothic: "Yu Gothic", "游ゴシック", "Noto Sans JP",  sans-serif;


// colors
$white: #ffffff;
$black: #000000;

$red: #CB0000;



// vw関数
@function vw($pixelSize, $baseWidth: 1080) {
  @return calc($pixelSize / $baseWidth * 100vw);
}
