// font
$font-serif: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",  "Noto Sans JP", "ヒラギノ角ゴ Pro W3", sans-serif;


// colors
$white:  #ffffff;
$black:  #000000;

$red:    #CB0000;



// vw関数
@function vw($pixelSize, $baseWidth: 1080) {
  @return calc($pixelSize / $baseWidth * 100vw);
}

// @function hvw($pixelSize) {
//   @return min(calc($pixelSize / 1080 * 100vw), $pixelSize * 1px);
// }


// font
// Medium 500
// Bold   900